@{
    ViewData["Title"] = "Kariyer Fırsatları";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-3">
    <div class="card-header bg-white pt-3">
        <div class="row">
            <div class="col-9">
                <nav aria-label="breadcrumb" class="pt-2">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard" class="text-decoration-none text-dark">
                                <i class="fa fa-home"></i>  Anasayfa
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a>
                                İçerikler
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Kariyer Fırsatları
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="col-3">
                <div class="btn-group float-end">
                    <button type="button" class="btn bg-white dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-cog"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a id="btnAdd" class="dropdown-item text-dark cursor-pointer">
                                Kariyer Fırsatı Ekle
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="gridContainer"></div>
    </div>
</div>

<div class="modal fade" id="modalForm" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title"></h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <div class="w-100"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <div class="w-100"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="w-100 pb-2">Aktif</label>
                                <div></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <div id="editorDescription"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="text-end">
                    <div id="btnSave"></div>
                    <button data-bs-dismiss="modal" class="btn btn-outline-secondary">
                        Kapat
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(() => {

            $("#gridContainer").dxDataGrid({
                dataSource: DevExpress.data.AspNet.createStore({
                    key: 'id',
                    loadUrl: '/admin/job/list',
                }),
                remoteOperations: true,
                paging: {
                    pageSize: 5,
                },
                pager: {
                    visible: true,
                    allowedPageSizes: [10, 20, 50, 'all'],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true,
                },
                filterRow: {
                    visible: true,
                    applyFilter: 'auto',
                },
                headerFilter: {
                    visible: true,
                    search: {
                        enabled: true,
                    },
                },
                wordWrapEnabled: true,
                showBorders: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                allowColumnResizing: true,
                columns: [{
                    type: 'buttons',
                    width: 100,
                    buttons: [{
                        template: function (data) {
                            return $("<button class='btn btn-outline-secondary btn-sm me-1'><i class='fa fa-pencil'></i></button>");
                        },
                        onClick: function (e) {
                            $(".modal-title").text("Kariyer Fırsatı Düzenle");
                            $("#modalForm").modal("show");
                            $.get(`/admin/job/${e.row.data.id}`).then((res) => {

                            });
                        }
                    },
                    {
                        template: function (data) {
                            return $("<button class='btn btn-outline-danger btn-sm me-1'><i class='fa fa-trash'></i></button>");
                        },
                        onClick: function (e) {
                            if (confirm("Silmek istediğinize emin misiniz?")) {
                                $http.delete(`/admin/contact/${e.row.data.id}`).then((res) => {
                                    $scope.dataGrid.refresh();
                                    DevExpress.ui.notify(res.data.message, 'success');
                                });
                            }
                        }
                    }]
                },
                {
                    dataField: 'id',
                    sortOrder: "desc",
                    visible: false
                },
                {
                    caption: "Firma Adı",
                    dataField: "companyName",
                    minWidth: 250
                },
                {
                    caption: 'Çalışma Tipi',
                    dataField: 'jobLocationName',
                    minWidth: 150
                },
                {
                    caption: 'Pozisyon',
                    dataField: 'position',
                    minWidth: 250
                },
                {
                    caption: 'Çalışma Tipi',
                    dataField: 'workTypeName',
                    minWidth: 150,
                },
                {
                    caption: 'Aktif',
                    dataField: 'isActive',
                    minWidth: 100
                },
                {
                    caption: 'Kayıt Tarihi',
                    dataField: 'insertedDate',
                    dataType: 'date',
                    format: 'dd.MM.yyyy HH:mm',
                    minWidth: 150
                }]
            });

            $('#editorDescription').dxHtmlEditor({
                bindingOptions: {
                    'toolbar.multiline': true,
                    value: "selectedData.content"
                },
                toolbar: {
                    items: [
                        'undo', 'redo', 'separator',
                        {
                            name: 'size',
                            acceptedValues: ['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt'],
                            options: { inputAttr: { 'aria-label': 'Font size' } },
                        },
                        {
                            name: 'font',
                            acceptedValues: ['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana'],
                            options: { inputAttr: { 'aria-label': 'Font family' } },
                        },
                        'separator', 'bold', 'italic', 'strike', 'underline', 'separator',
                        'alignLeft', 'alignCenter', 'alignRight', 'alignJustify', 'separator',
                        'orderedList', 'bulletList', 'separator',
                        {
                            name: 'header',
                            acceptedValues: [false, 1, 2, 3, 4, 5],
                            options: { inputAttr: { 'aria-label': 'Header' } },
                        }, 'separator',
                        'color', 'background', 'separator',
                        'link', 'image', 'separator',
                        'clear', 'codeBlock', 'blockquote', 'separator',
                        'insertTable', 'deleteTable',
                        'insertRowAbove', 'insertRowBelow', 'deleteRow',
                        'insertColumnLeft', 'insertColumnRight', 'deleteColumn',
                    ],
                },
                mediaResizing: {
                    enabled: true,
                },
                imageUpload: {
                    fileUploadMode: 'base64',
                    tabs: ['file', 'url']
                }
            });

            $("#btnAdd").click(function () {
                $(".modal-title").text("Kariyer Fırsatı Ekle");
                $("#modalForm").modal("show");
            });

            $('#btnSave').dxButton({
                stylingMode: 'contained',
                text: 'Kaydet',
                type: 'default',
                onClick() {
                    DevExpress.ui.notify('The Contained button was clicked');
                },
            });

            // $scope.save = function (e) {
            //     const result = e.validationGroup.validate();
            //     if (result.isValid) {

            //     }
            // }

            // $scope.delete = function (row) {
            //     if (confirm("Silmek istediğinize emin misiniz?")) {
            //         $http.delete(`/admin/contact/${row.data.id}`).then((res) => {
            //             $scope.dataGrid.refresh();
            //             DevExpress.ui.notify(res.data.message, 'success');
            //         });
            //     }
            // }
        });
    </script>
}
