.cursor-pointer {
    cursor: pointer !important;
}

.bold {
    font-weight: 500 !important;
}

.k-expander-title {
    color: unset !important;
    text-transform: unset !important;
    font-size: 20px !important;
}

.k-menu:not(.k-context-menu) > .k-item {
    color: black !important;
}

.main {
    position: relative;
    top: 15px;
}

.grid-buttons {
    width: 50px;
}

.k-scrollview-next, .k-scrollview-prev {
    opacity: unset !important;
    text-shadow: unset !important;
    color: silver !important;
}

.k-panelbar > .k-item > .k-link, .k-panelbar > .k-panelbar-header > .k-link {
    color: unset !important;
}

    .k-panelbar > .k-item > .k-link.k-selected, .k-panelbar > .k-panelbar-header > .k-link.k-selected {
        color: unset !important;
        background-color: unset !important;
    }

.k-panelbar .k-group > .k-item > .k-link.k-selected, .k-panelbar .k-group > .k-panelbar-item > .k-link.k-selected, .k-panelbar .k-panelbar-group > .k-item > .k-link.k-selected, .k-panelbar .k-panelbar-group > .k-panelbar-item > .k-link.k-selected {
    color: unset !important;
    background-color: unset !important;
}

.note-btn.dropdown-toggle:after {
    content: none;
}

.form-check-input {
    clear: left;
}

.form-switch.form-switch-sm {
    margin-bottom: 0.5rem; /* JUST FOR STYLING PURPOSE */
}

    .form-switch.form-switch-sm .form-check-input {
        height: 1rem;
        width: calc(1rem + 0.75rem);
        border-radius: 2rem;
    }

.form-switch.form-switch-md {
    margin-bottom: 1rem;
}

    .form-switch.form-switch-md .form-check-input {
        height: 1.5rem;
        width: calc(2rem + 0.75rem);
        border-radius: 3rem;
    }

.form-switch.form-switch-lg {
    margin-bottom: 1.5rem;
}

    .form-switch.form-switch-lg .form-check-input {
        height: 2rem;
        width: calc(3rem + 0.75rem);
        border-radius: 4rem;
    }

.form-switch.form-switch-xl {
    margin-bottom: 2rem;
}

    .form-switch.form-switch-xl .form-check-input {
        height: 2.5rem;
        width: calc(4rem + 0.75rem);
        border-radius: 5rem;
    }

.k-breadcrumb-link, .k-breadcrumb-root-link {
    text-decoration: none !important;
}

.k-breadcrumb-root-link, .k-breadcrumb-link {
    color: #212529;
}


.accordion-button:not(.collapsed) {
    color: unset !important;
    background-color: unset !important;
}

.k-master-row td {
    overflow: initial !important;
}

.left-menu {
    display: block;
}

@media (max-width: 768px) {
    .user-name {
        display: none !important;
    }

    .grid-buttons {
        width: 90px;
    }

    .left-menu {
        display: none !important;
    }

    .table-responsive .dropdown-menu {
        position: static !important;
    }
}

@media (min-width: 768px) {
    .table-responsive {
        overflow: inherit;
    }
}

.dx-button-text {
    text-transform: unset !important;
}
