<p-toast />
<main class="main">
  <div class="page-title accent-background">
    <div class="container d-lg-flex justify-content-between align-items-center">
      <h1 class="mb-2 mb-lg-0">{{ "ForgotPassword" | translate }}</h1>
      <nav class="breadcrumbs">
        <ol>
          <li>
            <a routerLink="/">{{ "Homepage" | translate }}</a>
          </li>
          <li class="current">{{ "ForgotPassword" | translate }}</li>
        </ol>
      </nav>
    </div>
  </div>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 col-sm-6 offset-md-4">
          <div class="card shadow">
            <div class="card-header bg-white py-4">
              <h4 class="mb-0">
                <i class="pi pi-question-circle me-1" style="font-size: 24px"></i>
                {{ "ForgotPassword" | translate }}
              </h4>
            </div>
            <div class="card-body">
              <form [formGroup]="form">
                <div class="mb-4">
                  <label class="pb-2">{{'EmailAddress' | translate}}</label>
                  <input
                    class="w-100"
                    pInputText
                    type="email"
                    placeholder="{{ 'EmailAddress' | translate }}"
                    formControlName="emailAddress"
                    [ngClass]="{
                      'is-invalid': submitted && f['emailAddress'].errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f['emailAddress'].errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f['emailAddress'].errors['required']">
                      {{'EmailAddress.Required' | translate}}
                    </div>
                    <div *ngIf="f['emailAddress'].errors['email']">
                      {{'EmailAddress.Invalid' | translate}}
                    </div>
                  </div>
                </div>
                <div class="mb-4 d-flex justify-content-between w-100">
                  <a
                    class="float-start btn btn-light text-decoration-none cursor-pointer text-dark align-content-center"
                    routerLink="/login"
                    ><i class="pi pi-arrow-left me-2"></i
                    >{{ "Login" | translate }}</a
                  >
                  <p-button
                    severity="warn"
                    size="small"
                    (click)="onSubmit()"
                    type="submit"
                    styleClass="float-end px-4"
                    label="{{ 'ForgotPassword' | translate }}"
                    pAutoFocus
                    [autofocus]="true"
                    [disabled]="disabled"
                  ></p-button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
