
@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="categoryBlog">
    <section class="columns is-desktop">
        <div class="column is-8">
            <div class="border">
                <h1 class="subtitle has-text-weight-bold p-2">{{category.name}}</h1>
            </div>
            <div v-if="blogs.length == 0">
                <div class="box mt-3">
                    Bu kategoride içerik bulunamadı.
                </div>
            </div>            
                <b-loading :is-full-page="true" v-model="isLoading" :can-cancel="true"></b-loading>                

            <div v-if="blogs.length > 0">
                <div class="columns is-multiline is-desktop mt-3">
                    <div class="column is-half" v-for="blog in blogs">
                        <div class="card">
                            <div class="card-image">
                                <a v-bind:href="blog.url">
                                    <figure class="image">
                                        <img src="https://www.murekkephaber.com/images/haberler/2020/09/saraydan-kiz-kacirma-operasinin-yeni-yorumu-sahnelenecek_t.jpg" alt="Placeholder image">
                                    </figure>
                                </a>
                            </div>
                            <div class="card-content">
                                <div class="subtitle mb-2 has-text-weight-bold">
                                    <a class="has-text-black" v-bind:href="blog.url">{{blog.title}}</a>
                                </div>
                                <div class="content">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <b-pagination :total="totalCount"
                              v-model="pageIndex"
                              range-before="2"
                              range-after="2"
                              :simple="false"
                              :rounded="false"
                              per-page="10"
                              icon-prev="chevron-left"
                              icon-next="chevron-right"
                              aria-next-label="Next page"
                              aria-previous-label="Previous page"
                              aria-page-label="Page"
                              aria-current-label="Current page"
                              v-on:change="pageChanged">
                </b-pagination>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script>
        new Vue({
            el: '#categoryBlog',
            data: {
                category: Object,
                blogs: [],
                pageIndex: 1,
                totalCount: 0,
                url: "",
                isLoading: true
            },
            created: function () {
                this.url = window.location.pathname;
                this.categoryBlogList();
            },
            methods: {
                categoryBlogList: function () {
                    axios.get("/api/BlogCategory/GetBlogByCategoryUrl?url=" + this.url + "&page=" + this.pageIndex)
                        .then(res => {                            
                            this.isLoading = false;
                            this.category = res.data;
                            this.blogs = res.data.blogs;
                            this.totalCount = res.data.totalCount;
                            document.title = res.data.name + " - CMS";
                        })
                        .catch(e => {
                            window.location = "/error/404";
                        });
                },
                pageChanged: function (e) {
                    pageIndex = e
                    this.categoryBlogList();
                }
            }
        });
    </script>
}
