
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div>       
    <div class="row">
        <div class="col-12">               
           
        </div>
    </div>
</div>

@section Scripts{
    <script>
        
    </script>    
}