<main class="main">
  <div class="page-title accent-background">
    <div class="container d-lg-flex justify-content-between align-items-center">
      <h1 class="mb-2 mb-lg-0">Teams</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a routerLink="/">Home</a></li>
          <li class="current">Teams</li>
        </ol>
      </nav>
    </div>
  </div>

  <section id="team" class="team section">
    <div class="container">
      <div class="row gy-4 mb-4">
        <div
          class="col-lg-3 col-md-6 d-flex align-items-stretch"
          *ngFor="let item of teams"
        >
          <div class="team-member">
            <div class="member-img">
              <img
                src="{{ environment.host }}{{ item.imageUrl }}"
                class="img-fluid"
                alt=""
              />
              <div class="social">
                <a target="_blank" href="{{ item.twitterUrl }}"
                  ><i class="pi pi-twitter"></i
                ></a>
                <a target="_blank" href="{{ item.facebookUrl }}"
                  ><i class="pi pi-facebook"></i
                ></a>
                <a target="_blank" href="{{ item.instagramUrl }}"
                  ><i class="pi pi-instagram"></i
                ></a>
                <a target="_blank" href="{{ item.linkedinUrl }}"
                  ><i class="pi pi-linkedin"></i
                ></a>
              </div>
            </div>
            <div class="member-info">
              <h4>{{ item.name }} {{ item.surname }}</h4>
              <span>{{ item.title }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="my-3 pg">
        <p-paginator
          appendTo="body"
          (onPageChange)="onPageChange($event)"
          [first]="skip"
          [rows]="pageSize"
          [totalRecords]="total"
          [rowsPerPageOptions]="[8, 16, 24]"
        />
      </div>
    </div>
  </section>
</main>
