
@{
    ViewData["Title"] = "Index";
    Layout = null;
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">

</head>

<body>
    <div class="container" id="app">
        <h1 class="title is-5">Profil Sayfası</h1>
        <template>

            <textarea id="summernote"></textarea>
            <section>
                <b-field label="Name">
                    <b-input v-model="name"></b-input>
                </b-field>
                <b-field label="Simple">
                    <b-select placeholder="Select a name">
                        <option v-for="option in users"
                                :value="option.id"
                                :key="option.id">
                            {{ option.name }}
                        </option>
                    </b-select>
                </b-field>
                <b-field>
                    <b-table :data="userList" :paginated="true" :per-page="2" :isBordered="true" :striped="true" :narrowed="true" :hoverable="true" :focusable="true">
                        <b-table-column label="ID" width="40" numeric v-slot="props">
                            <b-button size="is-small" v-on:click="edit(props.row)">Düzenle</b-button>
                        </b-table-column>

                        <b-table-column field="id" label="ID" width="40" numeric v-slot="props">
                            {{ props.row.id }}
                        </b-table-column>

                        <b-table-column field="first_name" label="First Name" v-slot="props">
                            {{ props.row.first_name }}
                        </b-table-column>

                        <b-table-column field="last_name" label="Last Name" v-slot="props">
                            {{ props.row.last_name }}
                        </b-table-column>

                        <b-table-column field="date" label="Date" centered v-slot="props">
                            <span class="tag is-success">
                                {{ new Date(props.row.date).toLocaleDateString() }}
                            </span>
                        </b-table-column>
                        <b-table-column field="last_name" label="Last Name" v-slot="props">
                            {{ props.row.gender }}
                        </b-table-column>
                    </b-table>
                </b-field>
            </section>


            <b-modal v-model="isShowModal" :width="640" scroll="keep" has-modal-card trap-focus :destroy-on-hide="false" aria-role="dialog" aria-modal>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">
                            Component
                        </p>
                        <button class="delete" aria-label="close" v-on:click="hideModal()"></button>
                    </header>
                    <div class="modal-card-body">
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                            <br>
                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                        </div>
                    </div>
                    <footer class="modal-card-foot">
                        <button class="button" type="button" v-on:click="hideModal()">Close</button>
                        <button class="button is-primary">Login</button>
                    </footer>
                </div>
            </b-modal>
        </template>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="~/js/summernote-lite.min.js"></script>
    <script src="~/js/summernote-tr-TR.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                name: 'John Silver',
                isShowModal: false,
                users: [{ id: 1, name: 'Mehmet Akbudak' }, { id: 2, name: 'Zehra Akbudak' }],
                userList: [
                    { 'id': 1, 'first_name': 'Jesse', 'last_name': 'Simmons', 'date': '2016-10-15 13:43:27', 'gender': 'Male' },
                    { 'id': 2, 'first_name': 'John', 'last_name': 'Jacobs', 'date': '2016-12-15 06:00:53', 'gender': 'Male' },
                    { 'id': 3, 'first_name': 'Tina', 'last_name': 'Gilbert', 'date': '2016-04-26 06:26:28', 'gender': 'Female' },
                    { 'id': 4, 'first_name': 'Clarence', 'last_name': 'Flores', 'date': '2016-04-10 10:28:46', 'gender': 'Male' },
                    { 'id': 5, 'first_name': 'Anne', 'last_name': 'Lee', 'date': '2016-12-06 14:38:38', 'gender': 'Female' }
                ],
            },
            methods: {
                edit: function (e) {
                    this.isShowModal = true;
                    console.log(e);
                },
                hideModal: function () {
                    this.isShowModal = false;
                }
            }
        });

        $('#summernote').summernote({
            lang: 'tr-TR',
            height: '300px',
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['color', ['color']],
                ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ]
        });

    </script>


</body>
</html>

