@{
    ViewData["Title"] = "Yorumlar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div ng-app="app" ng-controller="appController">
    <div class="card shadow mb-4">
        <div class="card-header bg-white pt-3">
            <nav aria-label="breadcrumb" class="pt-2">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/admin/dashboard" class="text-decoration-none text-dark">
                            <i class="fa fa-home"></i>  Anasayfa
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a>
                            İçerik Yönetimi
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Yorumlar
                    </li>
                </ol>
            </nav>
        </div>
        <div class="card-body">
            <div ng-cloak dx-data-grid="dataGridOptions" dx-item-alias="data">
                <div data-options="dxTemplate:{ name:'cellTemplate' }">
                    <button class="btn btn-outline-secondary btn-sm me-1" ng-click="edit(data)">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-outline-danger btn-sm" ng-click="delete(data)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">{{titlePopup}}</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-4">
                        <div class="w-100" dx-text-box="{
                        label: 'Türü',
                        readOnly: true,
                        stylingMode: 'outlined',
                        labelMode: 'floating',
                        bindingOptions: {
                            value: 'selectedData.source'
                        }
                    }"></div>
                    </div>
                    <div class="mb-4">
                        <div class="w-100" dx-text-box="{
                        label: 'Durumu',
                        readOnly: true,
                        stylingMode: 'outlined',
                        labelMode: 'floating',
                        bindingOptions: {
                            value: 'selectedData.status'
                        }
                    }"></div>
                    </div>
                    <div class="mb-4">
                        <div class="w-100" dx-text-box="{
                        label: 'Kullanıcı',
                        readOnly: true,
                        stylingMode: 'outlined',
                        labelMode: 'floating',
                        bindingOptions: {
                            value: 'selectedData.userFullName'
                        }
                    }"></div>
                    </div>
                    <div class="mb-4">
                        <div class="w-100" dx-text-area="{
                        label: 'Yorumu',
                        readOnly: true,
                        stylingMode: 'outlined',
                        labelMode: 'floating',
                        bindingOptions: {
                            value: 'selectedData.description'
                        }
                    }"></div>
                    </div>
                    <div class="mb-4">
                        <div class="w-100" dx-select-box="{
                        placeholder: 'Seç...',
                        label: 'Onay Durumu',
                        stylingMode: 'outlined',
                        labelMode: 'floating',
                        displayExpr: 'name',
                        valueExpr: 'id',
                        bindingOptions: {
                            dataSource: 'statuses',
                            value: 'selectedData.statusId'
                        }
                    }"
                             dx-validator="{
                         validationRules: [{
                            type: 'required'
                        }]
                    }"></div>
                    </div>                   
                </div>
                <div class="modal-footer">
                    <div class="text-end">
                        <button dx-button="{
                            text: 'Kaydet',
                            onClick: save,
                            type: 'default'
                        }" class="btn"></button>
                        <button data-bs-dismiss="modal" class="btn btn-outline-secondary">
                            KAPAT
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        appModule.controller('appController', ($scope, $http) => {
            $scope.titlePopup = "";
            $scope.selectedData = {};
            $scope.statuses = [];
            $scope.dataGrid = {};

            function getStatuses() {
                $http.get("/admin/lookup/comment-statuses").then((res) => {
                    $scope.statuses = res.data;
                });
            }           

            $scope.dataGridOptions = {
                dataSource: DevExpress.data.AspNet.createStore({
                    key: 'id',
                    loadUrl: '/admin/comment/list',
                }),
                remoteOperations: true,
                paging: {
                    pageSize: 5,
                },
                pager: {
                    visible: true,
                    allowedPageSizes: [10, 20, 50, 'all'],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true,
                },
                filterRow: {
                    visible: true,
                    applyFilter: 'auto',
                },
                headerFilter: {
                    visible: true,
                    search: {
                        enabled: true,
                    },
                },
                wordWrapEnabled: true,
                showBorders: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                allowColumnResizing: true,
                columns: [{
                    caption: "",
                    width: 105,
                    allowHeaderFiltering: false,
                    allowFiltering: false,
                    cellTemplate: 'cellTemplate'
                },
                {
                    dataField: 'id',
                    sortOrder: "desc",
                    visible: false
                },
                {
                    caption: 'Kaynağı',
                    dataField: 'source',
                    width: 150,
                },
                {
                    caption: 'Durumu',
                    dataField: 'status',
                    width: 120,
                },
                {
                    caption: 'Kullanıcı',
                    dataField: 'userFullName',
                    width: 200
                },
                {
                    caption: 'Yorumu',
                    dataField: 'description'
                },
                {
                    caption: 'Kayıt Tarihi',
                    dataField: 'insertedDate',
                    dataType: 'date',
                    format: 'yyyy-MM-dd',
                    width: 120,
                }],
                onInitialized(e) {
                    $scope.dataGrid = e.component;
                }
            };

            $scope.edit = function (row) {
                $scope.titlePopup = "Yorumu Düzenle";
                $("#modalForm").modal("show");
                $scope.selectedData = row.data;
                getStatuses();
            }

            $scope.save = function (e) {
                const result = e.validationGroup.validate();
                if (result.isValid) {
                    var data = {
                        id: $scope.selectedData.id,
                        commentStatus: $scope.selectedData.statusId
                    };

                    $http.put("/admin/comment", data).then((res) => {
                        $scope.dataGrid.refresh();
                        $("#modalForm").modal("hide");
                        DevExpress.ui.notify(res.data.message, 'success');
                    });
                }
            }

            $scope.delete = function (row) {
                if (confirm("Silmek istediğinize emin misiniz?")) {
                    $http.delete(`/admin/comment/${row.data.id}`).then((res) => {
                        $scope.dataGrid.refresh();
                        DevExpress.ui.notify(res.data.message, 'success');
                    });
                }
            }
        });
    </script>
}
