@{
    ViewData["Title"] = "İletişim Mesajları";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-3">
    <div class="card-header bg-white pt-3">
        <div class="row">
            <div class="col-9">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-decoration-none text-dark" href="/Admin">Anasayfa</a>
                        </li>
                        <li class="breadcrumb-item">İletişim Mesajları</li>
                    </ol>
                </nav>
            </div>
            <div class="col-3">
                <a class="btn btn-outline-primary btn-sm shadow float-end" href="/Admin/Blog/Add">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        @await Component.InvokeAsync("Loading")

        <div class="table-responsive" id="content">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th width="120"></th>
                        <th width="200">
                            Türü
                        </th>
                        <th>
                            Adı
                        </th>
                        <th>
                            Soyadı
                        </th>
                        <th>
                            Email Adresi
                        </th>
                        <th>
                            Mesaj
                        </th>
                        <th width="200">
                            Ekleme Tarihi
                        </th>                       
                    </tr>
                </thead>
                <tbody id="content-body"></tbody>
            </table>
            <div id="pager"></div>
        </div>
        <script id="template" type="text/x-kendo-tmpl">
            <tr data-uid="#: id #">
                <td width="120">
                    <a class="btn btn-secondary btn-sm text-white" href="/Admin/Blog/Edit/#:id#"><i class="fa fa-pencil"></i></a>
                    <a onclick="app.delete(#:id#)"
                        class="btn btn-danger btn-sm text-white">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
                <td>
                    #: contactCategory.name #
                </td>
                <td>
                   #: name #
                </td>
                <td>
                    #: surname #
                </td>
                <td>
                    #: emailAddress #
                </td>
                <td>
                    #: message #
                </td>                
                <td width="200">
                    #: app.dateTimeFormat(insertedDate) #
                </td>               
            </tr>
        </script>

    </div>
</div>

@section Scripts {
    <script src="/js/pages/admin/contact.js"></script>
}

