@{
    ViewData["Title"] = "İletişim Mesajları";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div ng-app="app" ng-controller="appController">
    <div class="card shadow mb-3">
        <div class="card-header bg-white pt-3">
            <div class="row">
                <div class="col-9">
                    <nav aria-label="breadcrumb" class="pt-2">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/admin/dashboard" class="text-decoration-none text-dark">
                                    <i class="fa fa-home"></i>  Anasayfa
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a>
                                    İçerik Yönetimi
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                İletişim Mesajları
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-3">
                </div>
            </div>
        </div>
        <div class="card-body">
            <div ng-cloak dx-data-grid="dataGridOptions" dx-item-alias="row">
                <div data-options="dxTemplate:{ name:'cellTemplate' }">
                    <button class="btn btn-outline-danger btn-sm" ng-click="delete(row)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
                <div data-options="dxTemplate: {name: 'detail'}">
                    <div class="mb-3 fw-bold">Mesajı :</div>
                    <div>{{row.data.message}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        appModule.controller('appController', ($scope, $http) => {
            $scope.dataGrid = {};

            $scope.dataGridOptions = {
                dataSource: DevExpress.data.AspNet.createStore({
                    key: 'id',
                    loadUrl: '/admin/contact/list',
                }),
                remoteOperations: true,
                paging: {
                    pageSize: 5,
                },
                pager: {
                    visible: true,
                    allowedPageSizes: [10, 20, 50, 'all'],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true,
                },
                filterRow: {
                    visible: true,
                    applyFilter: 'auto',
                },
                headerFilter: {
                    visible: true,
                    search: {
                        enabled: true,
                    },
                },
                wordWrapEnabled: true,
                showBorders: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                allowColumnResizing: true,
                columns: [{
                    caption: "",
                    width: 65,
                    allowHeaderFiltering: false,
                    allowFiltering: false,
                    cellTemplate: 'cellTemplate'
                },
                {
                    dataField: 'id',
                    sortOrder: "desc",
                    visible: false
                },                   
                {
                    caption: "Türü",
                    dataField: "contactCategory.name",
                    width: 150
                },
                {
                    caption: 'Adı',
                    dataField: 'name'
                },
                {
                    caption: 'Soyadı',
                    dataField: 'surname'
                },
                {
                    caption: 'Email Adresi',
                    dataField: 'emailAddress',
                    width: 250,
                },
                {
                    caption: 'Kayıt Tarihi',
                    dataField: 'insertedDate',
                    dataType: 'date',
                    format: 'dd.MM.yyyy HH:mm',
                    width: 150
                }],
                masterDetail: {
                    enabled: true,
                    template: 'detail',
                },
                onInitialized(e) {
                    $scope.dataGrid = e.component;
                }
            };

            $scope.delete = function (row) {
                if (confirm("Silmek istediğinize emin misiniz?")) {
                    $http.delete(`/admin/contact/${row.data.id}`).then((res) => {
                        $scope.dataGrid.refresh();
                        DevExpress.ui.notify(res.data.message, 'success');
                    });
                }
            }
        });
    </script>
}

