@{
    ViewData["Title"] = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div id="app">
    <div class="card shadow">
        <div class="card-body">
            <div class="d-flex mb-3">
                <h5 class="flex-grow-1">Users</h5>
                <button class="btn btn-primary btn-sm float-end" v-on:click="add"><i class="fa fa-plus"></i> Add</button>
            </div>
            <el-table :data="users" border class="w-100">
                <el-table-column label="" width="60">
                    <template slot-scope="scope">
                        <el-dropdown v-on:command="handleCommand">
                            <span class="el-dropdown-link">
                                <i class="el-icon-s-tools"></i><i class="el-icon-arrow-down el-icon--right"></i>
                            </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item command="edit">Edit</el-dropdown-item>
                                <el-dropdown-item command="delete">Delete</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </template>
                </el-table-column>
                <el-table-column prop="name" label="Name" width="200"></el-table-column>
                <el-table-column prop="surname" label="Surname"></el-table-column>
                <el-table-column prop="emailAddress" label="Email Address" width="300"></el-table-column>
            </el-table>
            <div class="mt-3">
                <el-pagination background layout="prev, pager, next, sizes"
                               :current-page="page"
                               :total="total"
                               v-on:current-change="pageChange"
                               v-on:size-change="sizeChange"></el-pagination>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalForm" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">{{titleModal}}</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <el-tabs>
                        <el-tab-pane label="Info">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <label class="form-label w-100">Name</label>
                                    <el-input placeholder="Name" v-model="formData.name"></el-input>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <label class="form-label w-100">Surname</label>
                                    <el-input placeholder="Surname" v-model="formData.surname"></el-input>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <label class="form-label w-100">Email Address</label>
                                    <el-input placeholder="Email Address" v-model="formData.emailAddress"></el-input>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <label class="form-label w-100">Phone</label>
                                    <el-input placeholder="Phone" v-model="formData.phone"></el-input>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <label class="form-label w-100">Type</label>
                                    <el-select class="w-100" v-model="formData.userType" filterable placeholder="Select types">
                                        <el-option v-for="item in types"
                                                   :key="item.id"
                                                   :label="item.name"
                                                   :value="item.id">
                                        </el-option>
                                    </el-select>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <label class="form-label w-100">Status</label>
                                    <el-select class="w-100" v-model="formData.status" filterable placeholder="Select status">
                                        <el-option v-for="item in statuses"
                                                   :key="item.id"
                                                   :label="item.name"
                                                   :value="item.id">
                                        </el-option>
                                    </el-select>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <label class="form-label w-100">Roles</label>
                                    <el-select class="w-100" v-model="formData.roleIds" filterable multiple placeholder="Select roles">
                                        <el-option v-for="item in roles"
                                                   :key="item.id"
                                                   :label="item.name"
                                                   :value="item.id">
                                        </el-option>
                                    </el-select>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <label class="form-label w-100">Active</label>
                                    <el-switch v-model="formData.isActive"></el-switch>
                                </div>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane label="Documents">

                        </el-tab-pane>
                    </el-tabs>
                </div>
                <div class="modal-footer">
                    <div class="text-end">
                        <button class="btn btn-primary">Save</button>
                        <button data-bs-dismiss="modal" class="btn btn-outline-secondary">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
}

@section Scripts {
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/element-ui/lib/umd/locale/en.js"></script>
    <script>
        ELEMENT.locale(ELEMENT.lang.en);
        new Vue({
            el: '#app',
            data() {
                return {
                    users: [],
                    roles: [],
                    statuses: [],
                    types: [],
                    page: 1,
                    total: 0,
                    titleModal: '',
                    selectedData: {},
                    formData: {
                        id: 0,
                        name: '',
                        surname: '',
                        emailAddress: '',
                        phone: '',
                        userType: null,
                        status: null,
                        roleIds: [],
                        isActive: true
                    }
                };
            },
            created() {
                this.getUsers();
            },
            methods: {
                getUsers() {
                    $.post("/admin/user/list", {
                        pageSize: this.pageSize,
                        page: this.page
                    }).then((res) => {
                        this.users = res.list;
                        this.total = res.total;
                    });
                },
                getUserTypes() {
                    $.get("/admin/lookup/user-types").then(res => {
                        this.types = res;
                    });
                },
                getStatuses() {
                    $.get("/admin/lookup/user-statuses").then(res => {
                        this.statuses = res;
                    });
                },
                getRoles() {
                    $.get("/admin/lookup/roles").then(res => {
                        this.roles = res;
                    });
                },
                pageChange(e) {
                    this.page = e;
                    this.getUsers();
                },
                sizeChange(e) {
                    this.pageSize = e;
                    this.getUsers();
                },
                handleCommand(e) {
                    console.log(e);
                },
                add() {
                    $("#modalForm").modal("show");
                    this.titleModal = "Add User";
                    this.getRoles();
                    this.getStatuses();
                    this.getUserTypes();
                }
            }
        });
    </script>
}

