@{
    ViewData["Title"] = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div id="user">
    <template>
        <div class="card shadow">
            <div class="card-header bg-white pt-3">
                <div class="row">
                    <div class="col-9">
                        <nav aria-label="breadcrumb" class="pt-2">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/admin/dashboard" class="text-decoration-none text-dark">
                                        <i class="fa fa-home"></i>  Home
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a>Settings</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Users
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-3">
                        <div class="btn-group float-end">
                            <button type="button" class="btn bg-white dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="el-icon-s-tools"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item text-dark cursor-pointer" v-on:click="add">Add</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="accordion mb-3" id="accordionForm">
                    <div class="accordion-item">
                        <h5 class="accordion-header h5">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Filter Area
                            </button>
                        </h5>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionForm">
                            <div class="accordion-body">
                                <form id="filterForm">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 mb-3">
                                            <label class="form-label">Name</label>
                                            <el-input placeholder="Name" v-model="filter.name" />
                                        </div>
                                        <div class="col-lg-4 col-md-6 mb-3">
                                            <label class="form-label">Surname</label>
                                            <el-input placeholder="Surname" v-model="filter.surname" />

                                        </div>
                                        <div class="col-lg-4 col-md-6 mb-3">
                                            <label class="form-label">Email Address</label>
                                            <el-input placeholder="Email Address" v-model="filter.emailAddress" />
                                        </div>
                                        <div class="col-lg-4 col-md-6 mb-3">
                                            <label class="form-label">Phone</label>
                                            <el-input placeholder="Phone" v-model="filter.phone" />
                                        </div>
                                        <div class="col-lg-4 col-md-6 mb-3">
                                            <label class="form-label">User Type</label>
                                            <el-select class="w-100"
                                                       v-model="filter.userTypeIds"
                                                       multiple
                                                       placeholder="Select user types">
                                                <el-option v-for="item in userTypes"
                                                           :key="item.id"
                                                           :label="item.name"
                                                           :value="item.id" />
                                            </el-select>
                                        </div>
                                        <div class="col-lg-4 col-md-6 mb-3">
                                            <label class="form-label">Status</label>
                                            <el-select class="w-100" v-model="filter.userStatusIds"
                                                       multiple
                                                       placeholder="Select user statuses">
                                                <el-option v-for="item in userStatuses"
                                                           :key="item.id"
                                                           :label="item.name"
                                                           :value="item.id" />
                                            </el-select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-primary btn-sm float-end" v-on:click="search">
                                                <i class="fa fa-search"></i> Search
                                            </button>
                                            <button class="btn btn-outline-secondary btn-sm float-end me-2"
                                                    v-on:click="clear">
                                                <i class="fa fa-close"></i> Clear
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <el-table :data="users" class="w-100" border>
                    <el-table-column fixed="left" label="" width="60">
                        <template slot-scope="scope">
                            <el-dropdown v-on:command="handleCommand($event,scope.row)">
                                <span class="el-dropdown-link">
                                    <i class="el-icon-s-tools"></i>
                                    <i class="el-icon-arrow-down el-icon--right"></i>
                                </span>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item command="edit">Edit</el-dropdown-item>
                                    <el-dropdown-item command="delete">Delete</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </template>
                    </el-table-column>
                    <el-table-column prop="name" label="Name"></el-table-column>
                    <el-table-column prop="surname" label="Surname"></el-table-column>
                    <el-table-column prop="emailAddress" label="Email Address"></el-table-column>
                    <el-table-column prop="phone" label="Phone"></el-table-column>
                    <el-table-column prop="userTypeName" label="User Type"></el-table-column>
                    <el-table-column prop="statusName" label="User Status"></el-table-column>
                </el-table>
                <el-pagination class="mt-3" background layout="prev, pager, next, total" :total="total" v-on:current-change="onPageChange"></el-pagination>
            </div>
        </div>

        <div class="modal fade" id="modalForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fs-5">{{modalTitle}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <el-tabs type="border-card">
                            <el-tab-pane label="User Info">
                                <el-form :model="formData" status-icon :rules="rules" ref="userInfo">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6">
                                            <el-form-item label="Name" prop="name">
                                                <el-input placeholder="Name" v-model="formData.name" />
                                            </el-form-item>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <el-form-item label="Surname" prop="surname">
                                                <el-input placeholder="Surname" v-model="formData.surname" />
                                            </el-form-item>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <el-form-item label="Email Address" prop="emailAddress">
                                                <el-input placeholder="Email Address"
                                                          v-model="formData.emailAddress" />
                                            </el-form-item>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <el-form-item label="Phone" prop="phone">
                                                <el-input placeholder="Phone" v-model="formData.phone" />
                                            </el-form-item>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <el-form-item label="User Type" prop="userType">
                                                <el-select class="w-100"
                                                           v-model="formData.userType"
                                                           placeholder="Select user type">
                                                    <el-option v-for="item in userTypes"
                                                               :key="item.id"
                                                               :label="item.name"
                                                               :value="item.id" />
                                                </el-select>
                                            </el-form-item>
                                        </div>
                                        <div class="col-lg-4 col-md-6" v-if="formData.id != 0">
                                            <el-form-item label="User Status" prop="status">
                                                <el-select class="w-100"
                                                           v-model="formData.status"
                                                           placeholder="Select user status">
                                                    <el-option v-for="item in userStatuses"
                                                               :key="item.id"
                                                               :label="item.name"
                                                               :value="item.id" />
                                                </el-select>
                                            </el-form-item>
                                        </div>
                                        <div class="col-lg-4 col-md-6" v-if="formData.userType != 3">
                                            <el-form-item label="Roles" prop="roleIds">
                                                <el-select class="w-100"
                                                           v-model="formData.roleIds"
                                                           multiple
                                                           placeholder="Select roles">
                                                    <el-option v-for="item in roles"
                                                               :key="item.id"
                                                               :label="item.name"
                                                               :value="item.id" />
                                                </el-select>
                                            </el-form-item>
                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <el-form-item label="Active" prop="isActive">
                                                <el-switch class="w-100"
                                                           v-model="formData.isActive"></el-switch>
                                            </el-form-item>
                                        </div>
                                    </div>
                                    <button v-on:click="save" type="button" class="btn btn-primary float-end">
                                        <i class="fa fa-save"></i> Save
                                    </button>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="Job Applications">
                                jobs
                            </el-tab-pane>
                            <el-tab-pane label="Files">
                                files
                            </el-tab-pane>
                        </el-tabs>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
@section Scripts {
    <script>
        new Vue({
            el: '#user',
            data: function () {
                return {
                    userTypes: [],
                    userStatuses: [],
                    users: [],
                    roles: [],
                    total: 0,
                    modalTitle: "",
                    filter: {
                        name: "",
                        surname: "",
                        emailAddress: "",
                        phone: "",
                        page: 1,
                        pageSize: 5,
                        userTypeIds: [],
                        userStatusIds: []
                    },
                    formData: {
                        id: 0,
                        name: "",
                        surname: "",
                        emailAddress: "",
                        phone: "",
                        userType: null,
                        status: null,
                        isActive: true,
                        roleIds: []
                    },
                    rules: {
                        name: [
                            { required: true, message: 'Name is required', trigger: ['blur', 'change'] }
                        ],
                        surname: [
                            { required: true, message: 'Surname is required', trigger: ['blur', 'change'] }
                        ],
                        emailAddress: [
                            { required: true, message: 'Email Address is required', trigger: ['blur', 'change'] },
                            { type: 'email', message: 'Please input correct email address', trigger: ['blur', 'change'] }
                        ],
                        userType: [
                            { required: true, message: 'User type is required', trigger: ['blur', 'change'] }
                        ],
                        status: [
                            { required: true, message: 'Status is required', trigger: ['blur', 'change'] }
                        ],
                        roleIds: [
                            { required: true, message: 'Role is required', trigger: ['blur', 'change'] }
                        ],
                    }
                }
            },
            created() {
                this.getUserTypes();
                this.getUserStatuses();
                this.getUsers();
            },
            methods: {
                getUserTypes() {
                    $.get("/admin/lookup/user-types").then((res) => {
                        this.userTypes = res;
                    });
                },
                getUserStatuses() {
                    $.get("/admin/lookup/user-statuses").then((res) => {
                        this.userStatuses = res;
                    });
                },
                getRoles() {
                    $.get("/admin/lookup/roles").then((res) => {
                        this.roles = res;
                    });
                },
                search() {
                    this.getUsers();
                },
                clear() {
                    this.filter = {
                        name: "",
                        surname: "",
                        emailAddress: "",
                        phone: "",
                        page: 1,
                        pageSize: 5,
                        userTypeIds: [],
                        userStatusIds: []
                    };
                    this.getUsers();
                },
                getUsers() {
                    $.post("/admin/user/list", this.filter).then((res) => {
                        this.users = res.list;
                        this.total = res.total;
                    });
                },
                handleCommand(e, item) {
                    if (e == "edit") {
                        $("#modalForm").modal("show");
                        this.$refs["userInfo"].resetFields();
                        this.modalTitle = "User Edit";
                        this.getRoles();
                        $.get(`/admin/user/${item.id}`).then((res) => {
                            this.formData = res;
                        });
                    } else if (e == "delete") {
                        if (confirm('Are you delete?')) {
                            $.ajax({
                                url: `/admin/user/${item.id}`,
                                type: 'DELETE',
                                success: (res) => {
                                    this.getUsers();
                                }
                            });
                        }
                    }
                },
                onPageChange(e) {
                    this.filter.page = e;
                    this.getUsers();
                },
                add() {
                    $("#modalForm").modal("show");
                    this.modalTitle = "New User";
                    this.getRoles();
                    this.$refs["userInfo"].resetFields();
                    this.formData.id = 0;
                },
                save() {
                    this.$refs["userInfo"].validate((valid) => {
                        if (!valid) {
                            return false;
                        }
                        if (this.formData.id == 0) {
                            $.post("/admin/user", this.formData).then((res) => {
                                $("#modalForm").modal("hide");
                                this.getUsers();
                            });
                        } else {
                            $.ajax({
                                url: '/admin/user',
                                type: 'PUT',
                                data: this.formData,
                                success: (res) => {
                                    $("#modalForm").modal("hide");
                                    this.getUsers();
                                }
                            });
                        }
                    });
                }
            }
        })
    </script>
}

