@{
    ViewData["Title"] = "Kullanıcılar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div ng-app="app" ng-controller="appController">
    <div class="card shadow mb-4">
        <div class="card-header bg-white pt-3">
            <div class="row">
                <div class="col-9">
                    <nav aria-label="breadcrumb" class="pt-2">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/admin/dashboard" class="text-decoration-none text-dark">
                                    <i class="fa fa-home"></i>  Anasayfa
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a>
                                    Ayarlar
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Kullanıcılar
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-3">
                    <div class="btn-group float-end">
                        <button type="button" class="btn bg-white dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-cog"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a ng-click="add()" class="dropdown-item text-dark cursor-pointer">
                                    Kullanıcı Ekle
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div ng-cloak dx-data-grid="dataGridOptions" dx-item-alias="data">
                <div data-options="dxTemplate:{ name:'cellTemplate' }">
                    <button class="btn btn-outline-secondary btn-sm me-1" ng-click="edit(data)">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-outline-danger btn-sm" ng-click="delete(data)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalForm" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">{{titlePopup}}</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <ul class="nav nav-tabs mb-4" id="pills-tab" role="tablist">
                            <li class="nav-item cursor-pointer" role="presentation">
                                <span class="nav-link active p-3" id="step1-tab" role="tab" data-bs-toggle="tab" data-bs-target='#step1-tab-pane' aria-controls="step1-tab-pane" aria-selected="true"><span>Kullanıcı Bilgileri</span></span>
                            </li>
                            <li class="nav-item cursor-pointer" role="presentation">
                                <span class="nav-link p-3" id="step2-tab" role="tab" data-bs-toggle="tab" data-bs-target='#step2-tab-pane' aria-controls="step2-tab-pane" aria-selected="false"><span>Yetkiler</span></span>
                            </li>
                        </ul>
                        <div class="tab-content" id="formTabsContent">
                            <div class="tab-pane fade active show" id="step1-tab-pane" role="tabpanel" aria-labelledby="step1-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="w-100"
                                             dx-text-box="nameOptions"
                                             dx-validator="nameValidatorOptions">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="w-100"
                                             dx-text-box="surnameOptions"
                                             dx-validator="surnameValidatorOptions">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="w-100"
                                             dx-text-box="emailOptions"
                                             dx-validator="emailValidatorOptions">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="w-100"
                                             dx-text-box="phoneOptions">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="w-100"
                                             dx-select-box="userTypeOptions"
                                             dx-validator="userTypeValidatorOptions">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="w-100"
                                             dx-select-box="userStatusOptions"
                                             dx-validator="userStatusValidatorOptions">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4" ng-if="selectedData.userType == 2">
                                        <div dx-tag-box="{
                                                label: 'Rol Adı',
                                                stylingMode: 'outlined',
                                                labelMode: 'floating',
                                                displayExpr: 'name',
                                                valueExpr: 'id',
                                                bindingOptions: {
                                                    dataSource: 'roles',
                                                    value: 'selectedData.roleIds'
                                                }
                                             }"
                                             dx-validator="{
                                                validationRules: [{
                                                    type: 'required',
                                                    message: 'Rol seçiniz.'
                                             }]
                                        }">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <label class="form-label w-100">Aktif</label>
                                        <div dx-switch="{ bindingOptions: {
                                                value: 'selectedData.isActive'
                                            }
                                        }">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show" id="step2-tab-pane" role="tabpanel" aria-labelledby="step2-tab" tabindex="0">

                                Yetki işlemleri

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="text-end">
                        <button dx-button="{
                            text: 'Kaydet',
                            onClick: save,
                            type: 'default'
                        }" class="btn"></button>
                        <button data-bs-dismiss="modal" class="btn btn-outline-secondary">
                            Kapat
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        appModule.controller('appController', ($scope, $http) => {
            $scope.titlePopup = "";
            $scope.selectedData = {};
            $scope.userStatuses = [];
            $scope.userTypes = [];
            $scope.roles = [];

            function getUserStatuses() {
                $http.get(`/admin/lookup/user-statuses`).then((res) => {
                    $scope.userStatuses = res.data;
                });
            }

            function getUserTypes() {
                $http.get(`/admin/lookup/user-types`).then((res) => {
                    $scope.userTypes = res.data;
                });
            }

            function getRoles() {
                $http.get(`/admin/lookup/roles`).then((res) => {
                    $scope.roles = res.data;
                });
            }

            $scope.nameOptions = {
                label: 'Adı',
                stylingMode: 'outlined',
                labelMode: 'floating',
                bindingOptions: {
                    value: 'selectedData.name'
                }
            };

            $scope.surnameOptions = {
                label: 'Soyadı',
                stylingMode: 'outlined',
                labelMode: 'floating',
                bindingOptions: {
                    value: 'selectedData.surname'
                }
            };

            $scope.emailOptions = {
                label: 'Email Adresi',
                stylingMode: 'outlined',
                labelMode: 'floating',
                bindingOptions: {
                    value: 'selectedData.emailAddress'
                }
            };

            $scope.phoneOptions = {
                label: 'Telefon',
                stylingMode: 'outlined',
                labelMode: 'floating',
                bindingOptions: {
                    value: 'selectedData.phone'
                }
            };

            $scope.userTypeOptions = {
                label: 'Kullanıcı Tipi',
                stylingMode: 'outlined',
                labelMode: 'floating',
                displayExpr: 'name',
                valueExpr: 'id',
                bindingOptions: {
                    dataSource: 'userTypes',
                    value: 'selectedData.userType'
                }
            };

            $scope.userStatusOptions = {
                label: 'Kullanıcı Durumu',
                stylingMode: 'outlined',
                labelMode: 'floating',
                displayExpr: 'name',
                valueExpr: 'id',
                bindingOptions: {
                    dataSource: 'userStatuses',
                    value: 'selectedData.status'
                }
            };

            $scope.nameValidatorOptions = {
                validationRules: [{
                    type: 'required',
                    message: 'Adı giriniz.'
                }]
            };

            $scope.surnameValidatorOptions = {
                validationRules: [{
                    type: 'required',
                    message: 'Soyadı giriniz.'
                }]
            };

            $scope.emailValidatorOptions = {
                validationRules: [{
                    type: 'required',
                    message: 'Email adresi gereklidir.',
                },
                {
                    type: 'email',
                    message: 'Email formatı uygun değildir.',
                }]
            }

            $scope.userTypeValidatorOptions = {
                validationRules: [{
                    type: 'required',
                    message: 'Kullanıcı tipi seçiniz.',
                }]
            }

            $scope.userStatusValidatorOptions = {
                validationRules: [{
                    type: 'required',
                    message: 'Kullanıcı durumu seçiniz.',
                }]
            }

            $scope.dataGridOptions = {
                dataSource: DevExpress.data.AspNet.createStore({
                    key: 'id',
                    loadUrl: '/admin/user/list',
                }),
                remoteOperations: true,
                paging: {
                    pageSize: 5,
                },
                pager: {
                    visible: true,
                    allowedPageSizes: [10, 20, 50, 'all'],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true,
                },
                filterRow: {
                    visible: true,
                    applyFilter: 'auto',
                },
                headerFilter: {
                    visible: true,
                    search: {
                        enabled: true,
                    },
                },
                wordWrapEnabled: true,
                showBorders: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                allowColumnResizing: true,
                columns: [{
                    caption: "",
                    width: 105,
                    allowHeaderFiltering: false,
                    allowFiltering: false,
                    cellTemplate: 'cellTemplate'
                },
                {
                    dataField: 'id',
                    sortOrder: "desc",
                    visible: false
                },
                {
                    caption: 'Adı',
                    dataField: 'name',
                    width: 150,
                },
                {
                    caption: 'Soyadı',
                    dataField: 'surname',
                    width: 150,
                },
                {
                    caption: 'Durumu',
                    dataField: 'statusName',
                    width: 200,
                },
                {
                    caption: 'Kullanıcı Tipi',
                    dataField: 'userTypeName',
                    width: 200
                },
                {
                    caption: 'Email Adresi',
                    dataField: 'emailAddress',
                    width: 200
                },
                {
                    caption: 'Telefon',
                    dataField: 'phone',
                    width: 200
                },
                {
                    caption: 'Aktif',
                    dataField: 'isActive',
                    width: 100
                },
                {
                    caption: 'Kayıt Tarihi',
                    dataField: 'insertedDate',
                    dataType: 'date',
                    format: 'dd.MM.yyyy HH:mm',
                    width: 150
                },
                {
                    caption: 'Güncelleme Tarihi',
                    dataField: 'updatedDate',
                    dataType: 'date',
                    format: 'dd.MM.yyyy HH:mm',
                    width: 150
                },
                ],
                onInitialized(e) {
                    $scope.dataGrid = e.component;
                }
            };

            $scope.add = function () {
                $scope.titlePopup = "Kullanıcı Ekle";
                $("#modalForm").modal("show");
                $scope.selectedData = {};
                $scope.selectedData.isActive = true;
                getUserTypes();
                getUserStatuses();
                getRoles();
            };

            $scope.edit = function (row) {
                $scope.titlePopup = "Kullanıcı Düzenle";
                $("#modalForm").modal("show");
                getUserTypes();
                getUserStatuses();
                getRoles();
                $http.get(`/admin/user/${row.data.id}`).then((res) => {
                    $scope.selectedData = res.data;
                });
            }

            $scope.save = function (e) {
                const result = e.validationGroup.validate();
                if (result.isValid) {
                    if ($scope.selectedData.id) {
                        $http.put("/admin/user", $scope.selectedData)
                            .then((res) => {
                                $scope.dataGrid.refresh();
                                $("#modalForm").modal("hide");
                                DevExpress.ui.notify(res.data.message, 'success');
                            });
                    } else {
                        $http.post("/admin/user", $scope.selectedData)
                            .then((res) => {
                                $scope.dataGrid.refresh();
                                $("#modalForm").modal("hide");
                                DevExpress.ui.notify(res.data.message, 'success');
                            });
                    }
                }
            }

            $scope.delete = function (row) {
                if (confirm("Silmek istediğinize emin misiniz?")) {
                    $http.delete(`/admin/user/${row.data.id}`).then((res) => {
                        $scope.dataGrid.refresh();
                        DevExpress.ui.notify(res.data.message, 'success');
                    });
                }
            }
        });
    </script>
}

