@{
    ViewData["Title"] = "Yapılacaklar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="page">
    <div class="columns is-mobile mb-0">
        <div class="column is-9">
            <nav class="breadcrumb" aria-label="breadcrumb">
                <ul>
                    <li><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Anasayfa</a></li>
                            <li class="is-active"><a asp-area="Admin" asp-controller="Todo" asp-action="Index">Yapılacaklar</a></li>
                </ul>
            </nav>
        </div>
        <div class="column is-3">
            <b-button class="is-pulled-right" icon-left="plus" type="is-primary" size="is-small" v-on:click="add()">Yeni</b-button>
        </div>
    </div>

    <b-tabs class="border" v-on:input="tabChanged($event)">
        <b-tab-item label="Yapılacaklar" value="1">

            <b-table :data="todos" :paginated="true" :per-page="5" :bordered="true" :striped="true" :narrowed="false" :hoverable="true" :focusable="false" :mobile-cards="true" :opened-detailed="[1]" detailed detail-key="id" :show-detail-icon="true">
                <b-table-column label="" width="100" numeric v-slot="props">
                    <div class="buttons">
                        <b-button outlined type="is-primary" size="is-small" v-on:click="edit(props.row)" icon-left="pencil">
                        </b-button>
                        <b-button outlined type="is-danger" size="is-small" v-on:click="remove(props.row)" icon-left="delete">
                        </b-button>
                    </div>
                </b-table-column>

                <b-table-column field="title" label="Başlık" v-slot="props" :searchable="true">
                    {{ props.row.title }}
                </b-table-column>

                 <b-table-column field="title" label="Kategori" v-slot="props" :searchable="true">
                    {{ props.row.todoCategoryName }}
                </b-table-column>

                 <b-table-column field="title" label="Durum" v-slot="props" :searchable="true">
                    {{ props.row.todoStatusName }}
                </b-table-column>

                 <b-table-column field="title" label="Kullanıcı" v-slot="props" :searchable="true">
                    {{ props.row.userNameSurname }}
                </b-table-column>

                <b-table-column field="isActive" label="Aktif" v-slot="props">
                    <b-checkbox disabled v-model="props.row.isActive"></b-checkbox>
                </b-table-column>
                
                <template #detail="props">
                    <p>
                        <label class="has-text-weight-bold">Kullanıcı Yorumu: </label>
					    {{props.row.userComment}}
                    </p>
                </template>
            </b-table>

        </b-tab-item>
        <b-tab-item label="Kategoriler" value="2">
             <b-table :data="todoCategories" :paginated="true" :per-page="5" :bordered="true" :striped="true" :narrowed="false" :hoverable="true" :focusable="false" :mobile-cards="true">
                <b-table-column label="" width="100" numeric v-slot="props">
                    <div class="buttons">
                        <b-button outlined type="is-primary" size="is-small" v-on:click="edit(props.row)" icon-left="pencil">
                        </b-button>
                        <b-button outlined type="is-danger" size="is-small" v-on:click="remove(props.row)" icon-left="delete">
                        </b-button>
                    </div>
                </b-table-column>

                <b-table-column field="name" label="Adı" v-slot="props" :searchable="true">
                    {{ props.row.name }}
                </b-table-column>

                <b-table-column field="isActive" label="Aktif" v-slot="props">
                    <b-checkbox disabled v-model="props.row.isActive"></b-checkbox>
                </b-table-column>
            </b-table>
        </b-tab-item>
        <b-tab-item label="Durumlar" value="3">
             <b-table :data="todoStatuses" :paginated="true" :per-page="5" :bordered="true" :striped="true" :narrowed="false" :hoverable="true" :focusable="false" :mobile-cards="true">
                <b-table-column label="" width="100" numeric v-slot="props">
                    <div class="buttons">
                        <b-button outlined type="is-primary" size="is-small" v-on:click="edit(props.row)" icon-left="pencil">
                        </b-button>
                        <b-button outlined type="is-danger" size="is-small" v-on:click="remove(props.row)" icon-left="delete">
                        </b-button>
                    </div>
                </b-table-column>

                <b-table-column field="todoCategory.name" label="Kategori" v-slot="props" :searchable="true">
                    {{ props.row.todoCategory.name }}
                </b-table-column>

                <b-table-column field="name" label="Adı" v-slot="props" :searchable="true">
                    {{ props.row.name }}
                </b-table-column>                 
                
                <b-table-column field="isActive" label="Aktif" v-slot="props">
                    <b-checkbox disabled v-model="props.row.isActive"></b-checkbox>
                </b-table-column>
            </b-table>
        </b-tab-item>
    </b-tabs>

     @* Yapılacaklar Modalı *@
     <b-modal v-model="isTodoModalActive" has-modal-card trap-focus :destroy-on-hide="false">
        <template>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">
                        {{todoModalTitle}}
                    </p>
                    <button class="delete" aria-label="close" v-on:click="hideModal()"></button>
                </header>
                <div class="modal-card-body modal-footer-radius">
                    <div class="content">                       
                        <b-field label="Başlık">
                            <b-input v-model="todo.title"></b-input>
                        </b-field>

                         <b-field label="Kategori">
                            <b-select v-model="todo.todoCategoryId" placeholder="Kategori seçiniz." expanded v-on:input="selectCategory($event)">
                                <option v-for="category in lookupCategories"
                                                :value="category.id"
                                                :key="category.id">
                                            {{ category.name }}
                                </option>
                            </b-select>                        
                        </b-field>

                         <b-field label="Durum">
                            <b-select v-model="todo.todoStatusId" placeholder="Durum seçiniz." expanded>
                                <option v-for="status in lookupStatuses"
                                                :value="status.id"
                                                :key="status.id">
                                            {{ status.name }}
                                </option>
                            </b-select>                        
                        </b-field>

                        <b-field label="Kullanıcı">
                            <b-select v-model="todo.userId" placeholder="Kullanıcı seçiniz." expanded>
                                <option v-for="user in lookupUsers"
                                                :value="user.id"
                                                :key="user.id">
                                            {{ user.name }}
                                </option>
                            </b-select>                        
                        </b-field>
                        
                        <b-field label="Açıklama">
                            <b-input v-model="todo.description" type="textarea"></b-input>
                        </b-field>

                        <b-field label="Aktif">
                            <b-switch v-model="todoCategory.isActive"></b-switch>
                        </b-field>
                    </div>
                     <div class="is-pulled-right">
                        <b-button v-on:click="hideModal()">Kapat</b-button>
                        <b-button type="is-primary"  v-on:click="save()">Kaydet</b-button>
                    </div>
                </div>
            </div>
        </template>
      </b-modal>

      @* Yapılacak Kategorileri *@

      <b-modal v-model="isTodoCategoryModalActive" has-modal-card trap-focus :destroy-on-hide="false">
        <template>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">
                        {{todoCategoryModalTitle}}
                    </p>
                    <button class="delete" aria-label="close" v-on:click="hideModal()"></button>
                </header>
                <div class="modal-card-body modal-footer-radius">
                    <div class="content">                        
                        <b-field label="Adı">
                            <b-input v-model="todoCategory.name"></b-input>
                        </b-field>
                        <b-field label="Aktif">
                            <b-switch v-model="todoCategory.isActive"></b-switch>
                        </b-field>
                    </div>
                     <div class="is-pulled-right">
                        <b-button v-on:click="hideModal()">Kapat</b-button>
                        <b-button type="is-primary"  v-on:click="save()">Kaydet</b-button>
                    </div>
                </div>
            </div>
        </template>
      </b-modal>

      @* Yapılacak Durumlar *@

      <b-modal v-model="isTodoStatusModalActive" has-modal-card trap-focus :destroy-on-hide="false">
        <template>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">
                        {{todoStatusModalTitle}}
                    </p>
                    <button class="delete" aria-label="close" v-on:click="hideModal()"></button>
                </header>
                <div class="modal-card-body modal-footer-radius">
                   <div class="content">                         
                        <b-field label="Adı">
                            <b-input v-model="todoStatus.name"></b-input>
                        </b-field>

                        <b-field label="Kategori">
                            <b-select v-model="todoStatus.todoCategoryId" placeholder="Kategori seçiniz." expanded>
                                <option v-for="category in lookupCategories"
                                                :value="category.id"
                                                :key="category.id">
                                            {{ category.name }}
                                </option>
                            </b-select>                        
                        </b-field>

                        <b-field label="Aktif">
                            <b-switch v-model="todoStatus.isActive"></b-switch>
                        </b-field>
                    </div>
                    <div class="is-pulled-right">
                        <b-button v-on:click="hideModal()">Kapat</b-button>
                        <b-button type="is-primary"  v-on:click="save()">Kaydet</b-button>
                    </div>
                </div>
            </div>
        </template>
      </b-modal>
</div>

@section Scripts {
    <script src="~/js/pages/be/todo.js"></script>
}
