@{
    ViewData["Title"] = "Bana Atananlar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="page">
    <div class="columns is-mobile">
        <div class="column">
            <nav class="breadcrumb" aria-label="breadcrumb">
                <ul>
                    <li><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Anasayfa</a></li>
                    <li class="is-active"><a asp-area="Admin" asp-controller="Todo" asp-action="UserAssign">Bana Atananlar</a></li>
                </ul>
            </nav>
        </div>        
    </div>

</div>