@{
    ViewData["Title"] = "Sayfalar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="page">
    <div class="columns is-mobile">
        <div class="column">
            <nav class="breadcrumb" aria-label="breadcrumb">
                <ul>
                    <li><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Anasayfa</a></li>
                    <li class="is-active"><a asp-area="Admin" asp-controller="Page" asp-action="Index">Sayfalar</a></li>
                </ul>
            </nav>        
        </div>
        <div class="column">
            <b-button size="is-small" type="is-primary" icon-left="plus" class="is-pulled-right" v-on:click="add()">Yeni</b-button>
        </div>
    </div>

    <b-table :data="pages" :paginated="true" :per-page="5" :bordered="true" :striped="true" :narrowed="false" :hoverable="true" :focusable="false" :mobile-cards="true">
        <b-table-column label="" width="100" numeric v-slot="props">  
            <div class="buttons">
                <b-button outlined  type="is-primary" size="is-small" v-on:click="edit(props.row)" icon-left="pencil">
                </b-button>
                <b-button outlined  type="is-danger" size="is-small" v-on:click="remove(props.row)" icon-left="delete">
                </b-button>          
            </div>
        </b-table-column>                       

        <b-table-column field="name" label="Adı" v-slot="props"  :searchable="true">
            {{ props.row.name }}
        </b-table-column>

        <b-table-column field="title" label="Başlık" v-slot="props"  :searchable="true">
            {{ props.row.title }}
        </b-table-column>

        <b-table-column field="published" label="Yayında" v-slot="props">
            <b-checkbox disabled v-model="props.row.published"></b-checkbox>
        </b-table-column>   
        
        <b-table-column field="isActive" label="Aktif" v-slot="props">
            <b-checkbox disabled v-model="props.row.isActive"></b-checkbox>
        </b-table-column>    

    </b-table>  
</div>

@section Scripts {
    <script>
        new Vue({
            el: '#page',
            mixins: [alert],
            data: {
                pages: []
            },
            created: function() {
                this.pageLoad();
            },
            methods: {
                pageLoad() {
                    axios.get("/api/Page")
                    .then(res => {
                        this.pages = res.data;
                    });
                },
                add() {
                    window.location.href = "/Admin/Page/Create";
                },
                edit(e) {
                    window.location.href = "/Admin/Page/Update/" + e.id;
                }, 
                remove(e) {
                    this.$buefy.dialog.confirm({
                    message: 'Silmek istiyor musunuz?',
                    title: 'Silme Onayı',
                    cancelText: 'Hayır',
                    confirmText: 'Evet',
                    onConfirm: () => {
                        axios.delete("/api/Page/" + e.id)
                            .then(res => {
                                this.pageLoad();
                                this.alertDelete();
                            });
                        }
                    });
                }
            }
        });
    </script>
}

