.leftMenu {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

:host ::ng-deep .p-menubar {
  background-color: unset !important;
}

.user-button i {
  line-height: unset !important;
}

:host ::ng-deep .menu .p-panel-content {
  margin: 20px 0;
  padding: 0px !important;
}

:host ::ng-deep .p-tree-node-content {
  padding: 0.25rem 0px !important;
}
