<div style="padding: 15px">
  <nz-card [nzBordered]="true" nzTitle="Bloglar" [nzExtra]="extraTemplate">
    <nz-table
      nzBordered
      nzShowSizeChanger
      [nzData]="list"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
    >
      <thead>
        <tr>
          <th nzWidth="120px"></th>
          <th nzWidth="50px"></th>
          <th>Başlığı</th>
          <th>Görüntüleme Sayısı</th>
          <th>Kayıt Tarihi</th>
          <th>Güncelleme Tarihi</th>
          <th>Aktif</th>
          <th>Yayında</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of list">
          <tr>
            <td>
              <button nz-button nzType="primary" (click)="edit(data.id)">
                <span nz-icon nzType="edit"></span>
              </button>
              <button
                style="margin-left: 10px"
                nz-button
                nzType="primary"
                nzDanger
                nz-popconfirm
                nzPopconfirmTitle="Silmek istediğinize emin misiniz?"
                nzCancelText="İptal"
                nzOkText="Evet"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="deleteBlog()"
              >
                <span nz-icon nzType="delete"></span>
              </button>
            </td>
            <td
              [nzExpand]="expandSet.has(data.id)"
              (nzExpandChange)="onExpandChange(data.id, $event)"
            ></td>
            <td>{{ data.title }}</td>
            <td>{{ data.numberOfView }}</td>
            <td>{{ data.insertedDate | date: "dd.MM.yyyy" }}</td>
            <td>{{ data.updatedDate | date: "dd.MM.yyyy" }}</td>
            <td>
              <label nz-checkbox nzDisabled [(ngModel)]="data.isActive"></label>
            </td>
            <td>
              <label
                nz-checkbox
                nzDisabled
                [(ngModel)]="data.published"
              ></label>
            </td>
          </tr>
          <tr [nzExpand]="expandSet.has(data.id)">
            <span>{{ data.description }}</span>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </nz-card>
</div>

<ng-template #extraTemplate>
  <a nzType="primary" nz-button routerLink="/admin/blog/add">
    <span nz-icon nzType="plus"></span>
  </a>
</ng-template>
