.w-50px {
    width: 50px;
}

.mt-5px {
    margin-top: 5px !important;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 0.5rem 1.25rem !important;
}

.mr-20px {
    margin-right: 20px !important;
}

.footer-button {
    margin: 0 -1.5rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
    border-top: 1px solid #dee2e6 !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.p-menubar .p-menuitem-link {
    padding: 0.5rem !important;
}
.p-button.p-button-icon-only{
    width: 2rem !important;
    padding: 0.25rem!important
}

.p-button.p-button-icon-only.p-button-rounded {
    height: 2rem !important;
}