
@{
    ViewData["Title"] = "Kullanıcılar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="page">
    <div class="columns is-mobile">
        <div class="column">
            <nav class="breadcrumb" aria-label="breadcrumb">
                <ul>
                    <li><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Anasayfa</a></li>
                    <li class="is-active"><a asp-area="Admin" asp-controller="User" asp-action="Index">Kullanıcılar</a></li>
                </ul>
            </nav>        
        </div>
        <div class="column">
            <b-button class="is-pulled-right" icon-left="plus" type="is-primary" size="is-small" v-on:click="add()">Yeni</b-button>
        </div>
    </div>

    <b-table :data="users" :paginated="true" :per-page="5" :bordered="true" :striped="true" :narrowed="false" :hoverable="true" :focusable="false" :mobile-cards="true">
        <b-table-column label="" width="100" numeric v-slot="props">  
            <div class="buttons">
                <b-button outlined  type="is-primary" size="is-small" v-on:click="edit(props.row)" icon-left="pencil">
                </b-button>
                <b-button outlined  type="is-danger" size="is-small" v-on:click="remove(props.row)" icon-left="delete">
                </b-button>          
            </div>
        </b-table-column>                       

        <b-table-column field="name" label="Adı" v-slot="props" :searchable="true">
            {{ props.row.name }}
        </b-table-column>

         <b-table-column field="surname" label="Soyadı" v-slot="props" :searchable="true">
            {{ props.row.surname }}
        </b-table-column>

        <b-table-column field="emailAddress" label="Email Adresi" v-slot="props">
		    {{props.row.emailAddress}}
        </b-table-column>  

        <b-table-column field="userTypeName" label="Kulllanıcı Tipi" v-slot="props">
		    {{props.row.userTypeName}}
        </b-table-column>        

        <b-table-column field="isActive" label="Aktif" v-slot="props">
            <b-checkbox disabled v-model="props.row.isActive"></b-checkbox>
        </b-table-column>                       
    </b-table>

   <b-modal v-model="isModalActive" has-modal-card trap-focus :destroy-on-hide="false">
        <template>
            <form v-on:submit="save">
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">
                            {{modalTitle}}
                        </p>
                        <button class="delete" aria-label="close" v-on:click="hideModal()"></button>
                    </header>
                    <div class="modal-card-body modal-footer-radius">
                        <div class="content">                            
                            <b-field label="Adı">
                                <b-input v-model="user.name"></b-input>
                            </b-field>

                             <b-field label="Soyadı">
                                <b-input v-model="user.surname"></b-input>
                            </b-field>

                            <b-field label="Email Adres">
                                <b-input v-model="user.emailAddress"></b-input>
                            </b-field>

                            <b-field label="Kullanıcı Tipi">
                                <b-select v-model="user.userType" placeholder="Kullanıcı tipi seçiniz" expanded>
                                    <option value="1">Süper Admin</option>
                                    <option value="2">Admin</option>
                                    <option value="3">Kullanıcı</option>
                                </b-select>
                            </b-field>

                            <b-field label="Aktif">
                                <b-switch v-model="user.isActive"></b-switch>
                            </b-field>
                        </div>
                        <div class="is-pulled-right">
                            <b-button v-on:click="hideModal()">Kapat</b-button>
                            <b-button type="is-primary"  v-on:click="save()">Kaydet</b-button>
                        </div>
                    </div>                    
                </div>
            </form>
        </template>
    </b-modal>
</div>

@section Scripts {
    <script src="~/js/pages/be/user.js"></script>
}
