<div style="padding: 15px">
  <nz-card
    [nzBordered]="false"
    nzTitle="Kullanıcılar"
    [nzExtra]="extraTemplate"
  >
    <nz-table
      nzBordered
      nzShowSizeChanger
      [nzData]="list"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageNumber"
      [nzPageSizeOptions]="[5, 10, 20, 50, 100]"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
        <tr>
          <th nzWidth="120px"></th>
          <th>Adı</th>
          <th>Soyadı</th>
          <th>Email Adresi</th>
          <th>Telefon No</th>
          <th>Kullanıcı Tipi</th>
          <th>Aktif</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of list">
          <tr>
            <td>
              <button nz-button nzType="primary" (click)="edit(data.id)">
                <span nz-icon nzType="edit"></span>
              </button>
              <button
                style="margin-left: 10px"
                nz-button
                nzType="primary"
                nzDanger
                nz-popconfirm
                nzPopconfirmTitle="Silmek istediğinize emin misiniz?"
                nzCancelText="İptal"
                nzOkText="Evet"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="deleteUser(data.id)"
              >
                <span nz-icon nzType="delete"></span>
              </button>
            </td>
            <td>{{ data.name }}</td>
            <td>{{ data.surname }}</td>
            <td>{{ data.emailAddress }}</td>
            <td>{{ data.phone }}</td>
            <td>{{ data.userTypeName }}</td>
            <td>
              <label nz-checkbox nzDisabled [(ngModel)]="data.isActive"></label>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </nz-card>
</div>

<ng-template #extraTemplate>
  <button nzType="primary" nz-button (click)="add()">
    <span nz-icon nzType="plus"></span>
  </button>
</ng-template>

<nz-modal
  [(nzVisible)]="visibleModal"
  [nzTitle]="titleModal"
  (nzOnOk)="save()"
  nzOkText="Kaydet"
  nzCancelText="Kapat"
  (nzOnCancel)="visibleModal = false"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form" (ngSubmit)="save()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>
          <span>Adı</span>
        </nz-form-label>
        <nz-form-control nzErrorTip="Lütfen adı giriniz!">
          <input nz-input formControlName="name" placeholder="Adı" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="surname" nzRequired
          >Soyadı</nz-form-label
        >
        <nz-form-control nzErrorTip="Lütfen soyadı giriniz!">
          <input nz-input formControlName="surname" placeholder="Soyadı" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email"
          >Email Adresi</nz-form-label
        >
        <nz-form-control nzErrorTip="Lütfen email adresi giriniz!">
          <input
            nz-input
            formControlName="emailAddress"
            placeholder="Email Adresi"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone"
          >Telefon No</nz-form-label
        >
        <nz-form-control>
          <input nz-input formControlName="phone" placeholder="Telefon No" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="userType"
          >Kullanıcı Tipi</nz-form-label
        >
        <nz-form-control nzErrorTip="Lütfen kullanıcı tipi seçiniz!">
          <nz-select
            formControlName="userType"
            nzPlaceHolder="Kullanıcı tipi seçiniz!"
          >
            <nz-option
              *ngFor="let userType of userTypes"
              [nzLabel]="userType.name"
              [nzValue]="userType.id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="isActive" nzRequired
          >Aktif</nz-form-label
        >
        <nz-form-control nzErrorTip="Lütfen kullanıcı durumunu seçiniz!">
          <label nz-checkbox formControlName="isActive"></label>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
