
@{
    ViewData["Title"] = ViewBag.StatusCode;
}

@if (ViewBag.StatusCode == 403)
{
    <div class="card shadow" style="padding: 50px">
        <div class="card-content mt-3 mb-5 has-text-centered">
            <div class="font-weight-bold" style="font-size: 50px;">403</div>
            <h3 class="text-danger">
                Erişmeye çalıştığınız sayfaya yetkiniz bulunmamaktadır!
            </h3>
            <p class="mt-3"><a class="btn btn-primary" href="/">Anasayfa</a></p>
        </div>
    </div>
}
else if (ViewBag.StatusCode == 404)
{
    <div class="card shadow" style="padding: 50px">
        <div class="card-content has-text-centered">
            <div style="font-size: 50px;">404</div>
            <h3>
                Sayfa bulunamadı!
            </h3>
        </div>
    </div>
}
