@{
    ViewData["Title"] = "Referanslar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div ng-app="app" ng-controller="appController">
    <div class="card shadow mb-3">
        <div class="card-header bg-white pt-3">
            <div class="row">
                <div class="col-9">
                    <nav aria-label="breadcrumb" class="pt-2">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/admin/dashboard" class="text-decoration-none text-dark">
                                    <i class="fa fa-home"></i>  Anasayfa
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a>
                                    İçerikler
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Referanslar
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-3">
                    <div class="btn-group float-end">
                        <button type="button" class="btn bg-white dropdown-toggle btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-cog"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a ng-click="add()" class="dropdown-item text-dark cursor-pointer">
                                    Referans Ekle
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div ng-cloak dx-data-grid="dataGridOptions" dx-item-alias="row">
                <div data-options="dxTemplate:{ name:'cellTemplate' }">
                    <button class="btn btn-outline-secondary btn-sm me-1" ng-click="edit(row)">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-outline-danger btn-sm" ng-click="delete(row)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
                <div data-options="dxTemplate:{ name:'imageTemplate' }">
                    <img class="img-thumbnail" ng-src="{{row.data.imageUrl}}" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalForm" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">{{titlePopup}}</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <div class="w-100"
                                     dx-text-box="{
                                            label: 'Adı',
                                            stylingMode: 'outlined',
                                            labelMode: 'floating',
                                            bindingOptions: {
                                                value: 'selectedData.name'
                                            }
                                        }"
                                     dx-validator="{
                                         validationRules: [{
                                            type: 'required',
                                            message: 'Adı giriniz.'
                                        }]
                                    }">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <div class="w-100"
                                     dx-text-box="{
                                            label: 'Soyadı',
                                            stylingMode: 'outlined',
                                            labelMode: 'floating',
                                            bindingOptions: {
                                                value: 'selectedData.surname'
                                            }
                                        }"
                                     dx-validator="{
                                         validationRules: [{
                                            type: 'required',
                                            message: 'Soyadı giriniz.'
                                        }]
                                    }">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <div class="w-100"
                                     dx-text-box="{
                                            label: 'Firma Adı',
                                            stylingMode: 'outlined',
                                            labelMode: 'floating',
                                            bindingOptions: {
                                                value: 'selectedData.corporateName'
                                            }
                                        }"
                                     dx-validator="{
                                         validationRules: [{
                                            type: 'required',
                                            message: 'Firma adı giriniz.'
                                        }]
                                    }">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <div class="w-100"
                                     dx-text-box="{
                                            label: 'Ünvanı',
                                            stylingMode: 'outlined',
                                            labelMode: 'floating',
                                            bindingOptions: {
                                                value: 'selectedData.title'
                                            }
                                        }">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3 border border-dark">
                                <div class="p-3">
                                    <h6 class="pb-3"> Dosya Ekle</h6>
                                    <input type="file" class="form-control" id="fileImage" name="fileImage">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="w-100 pb-2">Aktif</label>
                            <div dx-switch="{
                                 bindingOptions: {
                                    value: 'selectedData.isActive'
                                 }
                            }">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <div dx-html-editor="htmlEditorOptions"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-end">
                        <button dx-button="{
                            text: 'Kaydet',
                            onClick: save,
                            type: 'default'
                        }" class="btn"></button>
                        <button data-bs-dismiss="modal" class="btn btn-outline-secondary">
                            Kapat
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        appModule.controller('appController', ($scope, $http) => {
            $scope.titlePopup = "";
            $scope.selectedData = {};
            $scope.dataGrid = {};

            $scope.dataGridOptions = {
                dataSource: DevExpress.data.AspNet.createStore({
                    key: 'id',
                    loadUrl: '/admin/testimonial/list',
                }),
                remoteOperations: true,
                paging: {
                    pageSize: 5,
                },
                pager: {
                    visible: true,
                    allowedPageSizes: [10, 20, 50, 'all'],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true,
                },
                filterRow: {
                    visible: true,
                    applyFilter: 'auto',
                },
                headerFilter: {
                    visible: true,
                    search: {
                        enabled: true,
                    },
                },
                wordWrapEnabled: true,
                showBorders: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                allowColumnResizing: true,
                columns: [{
                    caption: "",
                    width: 105,
                    allowHeaderFiltering: false,
                    allowFiltering: false,
                    cellTemplate: 'cellTemplate'
                },
                {
                    dataField: 'id',
                    sortOrder: "desc",
                    visible: false
                },
                {
                    caption: "",
                    cellTemplate: 'imageTemplate',
                    width: 200
                },
                {
                    caption: 'Adı',
                    dataField: 'name',
                    width: 200
                },
                {
                    caption: 'Soyadı',
                    dataField: 'surname',
                    width: 200
                },
                {
                    caption: 'Firma Adı',
                    dataField: 'corporateName'
                },
                {
                    caption: 'Ünvanı',
                    dataField: 'title',
                    width: 200
                },
                {
                    caption: 'Aktif',
                    dataField: 'isActive',
                    width: 100
                }],
                onInitialized(e) {
                    $scope.dataGrid = e.component;
                }
            };

            $scope.htmlEditorOptions = {
                bindingOptions: {
                    'toolbar.multiline': true,
                    value: "selectedData.description"
                },
                toolbar: {
                    items: [
                        'undo', 'redo', 'separator',
                        {
                            name: 'size',
                            acceptedValues: ['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt'],
                            options: { inputAttr: { 'aria-label': 'Font size' } },
                        },
                        {
                            name: 'font',
                            acceptedValues: ['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana'],
                            options: { inputAttr: { 'aria-label': 'Font family' } },
                        },
                        'separator', 'bold', 'italic', 'strike', 'underline', 'separator',
                        'alignLeft', 'alignCenter', 'alignRight', 'alignJustify', 'separator',
                        'orderedList', 'bulletList', 'separator',
                        {
                            name: 'header',
                            acceptedValues: [false, 1, 2, 3, 4, 5],
                            options: { inputAttr: { 'aria-label': 'Header' } },
                        }, 'separator',
                        'color', 'background', 'separator',
                        'link', 'image', 'separator',
                        'clear', 'codeBlock', 'blockquote', 'separator',
                        'insertTable', 'deleteTable',
                        'insertRowAbove', 'insertRowBelow', 'deleteRow',
                        'insertColumnLeft', 'insertColumnRight', 'deleteColumn',
                    ],
                },
                mediaResizing: {
                    enabled: true,
                },
                imageUpload: {
                    fileUploadMode: 'base64',
                    tabs: ['file', 'url']
                }
            }

            $scope.add = function () {
                $scope.titlePopup = "Referans Ekle";
                $("#modalForm").modal("show");
                $scope.selectedData = {};
                $scope.selectedData.isActive = true;
            };

            $scope.edit = function (row) {
                $scope.titlePopup = "Referans Düzenle";
                $("#modalForm").modal("show");

                $http.get(`/admin/testimonial/${row.data.id}`).then((res) => {
                    $scope.selectedData = res.data;
                });
            }

            $scope.save = function (e) {
                const result = e.validationGroup.validate();
                if (result.isValid) {
                    var file = $('#fileImage')[0].files[0];
                    if ($scope.selectedData.id == undefined && !file) {
                        DevExpress.ui.notify("Resim ekleyiniz!", 'error');
                        return;
                    }
                    var data = new FormData();
                    data.append("id", $scope.selectedData.id);
                    data.append("image", file);
                    data.append("name", $scope.selectedData.name);
                    data.append("surname", $scope.selectedData.surname);
                    data.append("corporateName", $scope.selectedData.corporateName);
                    data.append("title", $scope.selectedData.title);
                    data.append("description", $scope.selectedData.description);
                    data.append("isActive", $scope.selectedData.isActive);
                    var requestType = "POST";

                    if ($scope.selectedData.id) {
                        requestType = "PUT";
                    }
                    $.ajax({
                        type: requestType,
                        url: "/admin/testimonial",
                        contentType: false,
                        processData: false,
                        data: data
                    }).done((res) => {
                        $scope.dataGrid.refresh();
                        $("#modalForm").modal("hide");
                        DevExpress.ui.notify(res.message, 'success');
                    });
                }
            }

            $scope.delete = function (row) {
                if (confirm("Silmek istediğinize emin misiniz?")) {
                    $http.delete(`/admin/testimonial/${row.data.id}`).then((res) => {
                        $scope.dataGrid.refresh();
                        DevExpress.ui.notify(res.data.message, 'success');
                    });
                }
            }
        });
    </script>
}


