<div class="mb-3">
    <div class="pt-0 w-100">
        <ul class="list-group shadow">
            <li class="list-group-item p-3">
                <a class="text-decoration-none text-dark cursor-pointer" href="/profile">
                    <i class="fa-solid fa-address-card me-2 fa-xl"></i>
                    Kullanıcı Bilgileri
                </a>
            </li>
            <li class="list-group-item p-3">
                <a class="text-decoration-none text-dark cursor-pointer" href="/cv">
                    <i class="fa-solid fa-user-pen me-2 fa-xl"></i>
                    Özgeçmişlerim
                </a>
            </li>
            <li class="list-group-item p-3">
                <a class="text-decoration-none text-dark cursor-pointer" href="/applied-jobs">
                    <i class="fa-solid fa-user-check me-2 fa-xl"></i>
                    Başvurulan İlanlar
                </a>
            </li>
            <li class="list-group-item p-3">
                <a class="text-decoration-none text-dark cursor-pointer" href="/comments">
                    <i class="fa fa-comment me-2 fa-xl"></i> Yorumlarım
                </a>
            </li>
            <li class="list-group-item p-3">
                <a class="text-decoration-none text-dark cursor-pointer" href="/change-password">
                    <i class="fa fa-key me-2 fa-xl"></i> Şifre Değiştir
                </a>
            </li>
            <li class="list-group-item p-3">
                <a class="text-decoration-none text-dark cursor-pointer" href="/logout">
                    <i class="fa-solid fa-right-from-bracket me-1 fa-xl"></i>
                    Çıkış Yap
                </a>
            </li>
        </ul>
    </div>
</div>
