<div class="mb-3">
    <div id="profileMenu" class="pt-0 box-shadow profileMenu">
        <ul class="list-group list-group-flush">
            <li class="list-group-item ps-0 py-3">
                <a class="text-decoration-none text-dark" href="/profile">
                    <i class="fa-solid fa-address-card me-1"></i>
                    Hesabım
                </a>
            </li>
            <li class="list-group-item ps-0 py-3">
                <a class="text-decoration-none text-dark" href="/comments">
                    <i class="fa fa-comment me-1"></i> Yorumlarım
                </a>
            </li>
            <li class="list-group-item ps-0 py-3">
                <a class="text-decoration-none text-dark" href="/change-password">
                    <i class="fa fa-key me-1"></i> Şifre Değiştir
                </a>
            </li>
            <li class="list-group-item ps-0 py-3">
                <a class="text-decoration-none text-dark" href="/logout">
                    <i class="fa-solid fa-right-from-bracket me-1"></i>
                    Çıkış Yap
                </a>
            </li>
        </ul>
    </div>
</div>
