@{
    ViewData["Title"] = "Şifre Değiştir";
}
<main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Şifre Değiştir</h2>
                <ol>
                    <li><a href="/">Anasayfa</a></li>
                    <li>Şifre Değiştir</li>
                </ol>
            </div>
        </div>
    </section>
    <div class="container my-3">
        <div class="row">
            <div class="col-md-3">
                @await Html.PartialAsync("_ProfileMenu")
            </div>
            <div class="col-md-9">
                <div class="card box-shadow">
                    <div class="card-body">
                        <div class="my-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <form id="changePasswordForm">
                                        <div class="m-3">
                                            <label class="form-label">Eski Şifre</label>
                                            <input type="password"
                                                   id="txtOldPassword"
                                                   name="txtOldPassword"
                                                   class="form-control w-100"
                                                   required
                                                   data-required-msg="Eski şifre giriniz." />
                                        </div>

                                        <div class="m-3">
                                            <label class="form-label">Yeni Şifre</label>
                                            <input type="password"
                                                   id="txtNewPassword"
                                                   name="txtNewPassword"
                                                   class="form-control w-100"
                                                   required
                                                   data-required-msg="Yeni Şifre giriniz." />
                                        </div>

                                        <div class="m-3">
                                            <label class="form-label">Yeni Şifre Yeniden</label>
                                            <input type="password"
                                                   id="txtReNewPassword"
                                                   name="txtReNewPassword"
                                                   class="form-control w-100"
                                                   required
                                                   data-required-msg="Yeni Şifre Yeniden giriniz." />
                                        </div>

                                        <div class="m-3">
                                            <button id="btnChangePassword"
                                                    type="submit"
                                                    class="btn bg-green text-white float-start">
                                                Kaydet
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts{
    <script src="~/js/pages/frontend/account/change-password.js"></script>
}