@{
    ViewData["Title"] = "Şifre Değiştir";
}
<main id="main" ng-app="app" ng-controller="appController" ng-cloak>
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Şifre Değiştir</h2>
                <ol>
                    <li><a href="/">Anasayfa</a></li>
                    <li>Şifre Değiştir</li>
                </ol>
            </div>
        </div>
    </section>
    <div class="container my-3">
        <div class="row">
            <div class="col-md-3">
                @await Html.PartialAsync("_ProfileMenu")
            </div>
            <div class="col-md-9">
                <div class="card box-shadow">
                    <div class="card-body p-4">
                        <h5 class="card-title">Şifre Değiştir</h5>
                        <div class="my-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="w-100 mb-4"
                                         dx-text-box="{
                                            label: 'Eski Şifre',
                                            stylingMode: 'outlined',
                                            mode: 'password',
                                            labelMode: 'floating',
                                            bindingOptions: {
                                                value: 'formData.oldPassword'
                                            }
                                        }"
                                         dx-validator="{
                                         validationRules: [{
                                            type: 'required',
                                            message: 'Eski şifreyi giriniz.'
                                        }]
                                    }"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="w-100 mb-4"
                                         dx-text-box="{
                                            label: 'Yeni Şifre',
                                            stylingMode: 'outlined',
                                            mode: 'password',
                                            labelMode: 'floating',
                                            bindingOptions: {
                                                value: 'formData.newPassword'
                                            }
                                        }"
                                         dx-validator="{
                                         validationRules: [{
                                            type: 'required',
                                            message: 'Yeni şifreyi giriniz.'
                                        }]
                                    }"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="w-100 mb-4"
                                         dx-text-box="{
                                            label: 'Yeni Şifre Yeniden',
                                            mode: 'password',
                                            stylingMode: 'outlined',
                                            labelMode: 'floating',
                                            bindingOptions: {
                                                value: 'formData.reNewPassword'
                                            }
                                        }"
                                         dx-validator="{
                                         validationRules: [{
                                            type: 'required',
                                            message: 'Yeni şifreyi yeniden giriniz.'
                                        }]
                                    }"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-4">
                                        <div class="text-end">
                                            <button dx-button="{
                                                text: 'Kaydet',
                                                onClick: save,
                                                type: 'default'
                                            }" class="btn bg-green text-white float-start border-0"></button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts{
    <script>
        appModule.controller('appController', ($scope, $http) => {

            $scope.save = function (e) {
                const result = e.validationGroup.validate();
                if (result.isValid) {
                    $http.put("/account/change-password", $scope.formData).then((res) => {
                        DevExpress.ui.notify(res.data.message, 'success');
                    });
                }
            }
        });
    </script>
}