@{
    ViewData["Title"] = "Şifremi Unuttum";
}

<main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Şifremi Unuttum</h2>
                <ol>
                    <li><a href="/">Anasayfa</a></li>
                    <li>Şifremi Unuttum</li>
                </ol>
            </div>
        </div>
    </section>
    <div class="container my-3">
        <div class="card box-shadow">
            <div class="card-body">
                <div class="col-md-4 offset-md-4 my-5">
                    <div class="card">
                        <div class="card-header py-3 bg-white">
                            <h4>Şifremi Unuttum</h4>
                        </div>
                        <div class="card-body">
                            <form id="forgotPasswordForm">
                                <div class="mb-3">
                                    <label class="form-label">Email Adresi</label>
                                    <input id="txtEmailAddress"
                                           name="txtEmailAddress"
                                           type="email"
                                           class="form-control w-100"
                                           required data-required-msg="Email adresi giriniz."
                                           data-email-msg="Email formatı geçersiz." />
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                    </div>
                                    <div class="col-6">
                                        <a class="float-end pb-3 text-decoration-none cursor-pointer"
                                           href="/login">
                                            Giriş Yap
                                        </a>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <button class="btn bg-green text-white w-100"
                                            id="btnSend"
                                            type="submit">
                                        Gönder
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

@section Scripts{
    <script src="/js/pages/frontend/account/forgot-password.js"></script>
}