@{
    ViewData["Title"] = "Şifremi Unuttum";
}

<main id="main" ng-app="app" ng-controller="appController">
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Şifremi Unuttum</h2>
                <ol>
                    <li><a href="/">Anasayfa</a></li>
                    <li>Şifremi Unuttum</li>
                </ol>
            </div>
        </div>
    </section>
    <div class="container my-3">
        <div class="card box-shadow">
            <div class="card-body">
                <div class="col-md-4 offset-md-4 my-5">
                    <div class="card">
                        <div class="card-header py-3">
                            <h5>Şifremi Unuttum</h5>
                        </div>
                        <div class="card-body">
                            <div class="w-100 mb-4"
                                 dx-text-box="{
                                            label: 'Email Adresi',
                                            stylingMode: 'outlined',
                                            labelMode: 'floating',
                                            bindingOptions: {
                                                value: 'formData.emailAddress'
                                            }
                                        }"
                                 dx-validator="{
                                            validationRules: [{
                                            type: 'required' ,
                                            message: 'Email adresi giriniz.'
                                            },
                                            {
                                              type: 'email',
                                              message: 'Email adresi geçersiz.',
                                            }]
                                         }">
                            </div>
                            <div class="row">
                                <div class="col-6">
                                </div>
                                <div class="col-6">
                                    <a class="float-end pb-3 text-dark text-decoration-underline cursor-pointer"
                                       href="/login">
                                        Giriş Yap
                                    </a>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button dx-button="{
                                                text: 'Gönder',
                                                onClick: send,
                                                type: 'default'
                                            }" class="w-100 bg-green text-white float-start border-0 w-100">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

@section Scripts{
    <script>
        appModule.controller('appController', ($scope, $http) => {

            $scope.send = function (e) {
                const result = e.validationGroup.validate();
                if (result.isValid) {
                    $http.post("/account/forgot-password", $scope.formData).then((res) => {
                        DevExpress.ui.notify(res.data.message, 'success');
                        setTimeout(() => {
                            window.location.href = "/login";
                        }, 2000);
                    }, (err) => {
                        DevExpress.ui.notify(err.data.message, 'error');
                    });
                }
            }
        });
    </script>
}