@{
    ViewData["Title"] = "Üye Ol";
}

<main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Üye Ol</h2>
                <ol>
                    <li><a href="/">Anasayfa</a></li>
                    <li>Üye Ol</li>
                </ol>
            </div>
        </div>
    </section>
    <div class="container my-3">
        <div class="card box-shadow">
            <div class="card-body">
                <div class="col-md-4 offset-md-4">
                    <div class="card my-3">
                        <div class="card-header py-3 bg-white">
                            <h4>Üye Ol</h4>
                        </div>
                        <div class="card-body">
                            <form id="registerForm">
                                <div class="mb-3">
                                    <label class="form-label">Adı</label>
                                    <input id="txtName"
                                           name="txtName"
                                           class="form-control w-100"
                                           required data-required-msg="Adı giriniz." />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Soyadı</label>
                                    <input id="txtSurname"
                                           name="txtSurname"
                                           class="form-control w-100"
                                           required data-required-msg="Soyadı giriniz." />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Email Adresi</label>
                                    <input id="txtEmailAddress"
                                           name="txtEmailAddress"
                                           type="email"
                                           class="form-control w-100"
                                           required data-required-msg="Email adresi giriniz."
                                           data-email-msg="Email formatı geçersiz." />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Şifre</label>
                                    <input id="txtPassword"
                                           name="txtPassword"
                                           type="password"
                                           class="form-control w-100"
                                           required data-required-msg="Şifre giriniz." />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Şifre Yeniden</label>
                                    <input id="txtRePassword"
                                           name="txtRePassword"
                                           type="password"
                                           class="form-control w-100"
                                           required data-required-msg="Şifre Yeniden giriniz." />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Telefon</label>
                                    <input type="text"
                                           id="txtPhone"
                                           name="txtPhone"
                                           class="form-control w-100"
                                           required data-required-msg="Telefon giriniz." />
                                </div>

                                <div class="mb-3">
                                    <button id="btnRegister"
                                            class="btn bg-green text-white w-100"
                                            type="submit">
                                        Kaydet
                                    </button>
                                </div>
                                <div class="text-center">
                                    Zaten üye misiniz?
                                    <a class="text-decoration-none cursor-pointer" href="/login">Giriş Yap</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <script src="/js/pages/frontend/account/register.js"></script>
}