@using CMS.Storage.Model;
@model ResetPasswordInfoModel;

@{
    ViewData["Title"] = "Şifre Belirleme";
    string code = Model != null ? Model.Code : null;
}

<main id="main" ng-app="app" ng-controller="appController" ng-cloak>
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Şifre Belirleme</h2>
                <ol>
                    <li><a href="/">Anasayfa</a></li>
                    <li>Şifre Belirleme</li>
                </ol>
            </div>
        </div>
    </section>
    <div class="container my-3">
        <div class="card box-shadow">
            <div class="card-body">
                <div class="row">
                    @if (Model == null)
                    {
                        <div class="col-md-12">
                            <div class="p-5">
                                <div class="alert alert-danger w-100">
                                    <h5>
                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                        Şifre belirleme işlemi başarısız oldu.
                                    </h5>
                                </div>
                                <a class="btn btn-outline-secondary" href="/">
                                    <i class="fa-solid fa-house"></i> Anasayfa
                                </a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-4 offset-md-4 my-5">
                            <div class="card">
                                <div class="card-header py-3">
                                    <h5>Şifre Belirleme</h5>
                                </div>
                                <div class="card-body">
                                    <input type="hidden" id="code" value="@code" />
                                    <div class="alert alert-info">
                                        <h6>
                                            Merhaba <span class="fw-bold">@Model.FullName</span>
                                        </h6>
                                        <small>
                                            Formu doldurarak yeni şifrenizi belirleyebilirsiniz.
                                        </small>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="w-100 mb-4"
                                                 dx-text-box="{
                                                    label: 'Yeni Şifre',
                                                    stylingMode: 'outlined',
                                                    mode: 'password',
                                                    labelMode: 'floating',
                                                    bindingOptions: {
                                                        value: 'formData.newPassword'
                                                    }
                                                }"
                                                 dx-validator="{
                                                     validationRules: [{
                                                        type: 'required',
                                                        message: 'Yeni şifreyi giriniz.'
                                                    }]
                                                }"></div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="w-100 mb-4"
                                                 dx-text-box="{
                                                    label: 'Yeni Şifre Yeniden',
                                                    mode: 'password',
                                                    stylingMode: 'outlined',
                                                    labelMode: 'floating',
                                                    bindingOptions: {
                                                        value: 'formData.reNewPassword'
                                                    }
                                                }"
                                                 dx-validator="{
                                                    validationRules: [{
                                                        type: 'required',
                                                        message: 'Yeni şifreyi yeniden giriniz.'
                                                    }]
                                            }"></div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <button dx-button="{
                                                text: 'Kaydet',
                                                onClick: save,
                                                type: 'default'
                                            }" class="w-100 bg-green text-white float-start border-0"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts{
    <script>
        appModule.controller('appController', ($scope, $http) => {

            $scope.save = function (e) {
                const result = e.validationGroup.validate();
                if (result.isValid) {
                    $scope.formData.code = $("#code").val();
                    $http.put("/account/reset-password", $scope.formData).then((res) => {
                        DevExpress.ui.notify(res.data.message, 'success');
                        setTimeout(() => {
                            window.location.href = "/login";
                        }, 2000);
                    }, (err) => {
                        DevExpress.ui.notify(err.data.message, 'error');
                    });
                }
            }
        });
    </script>
}