@using CMS.Storage.Model;
@model ResetPasswordInfoModel;

@{
    ViewData["Title"] = "Şifre Belirleme";
    string code = Model != null ? Model.Code : null;
}

<main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Şifre Belirleme</h2>
                <ol>
                    <li><a href="/">Anasayfa</a></li>
                    <li>Şifre Belirleme</li>
                </ol>
            </div>
        </div>
    </section>
    <div class="container my-3">
        <div class="card box-shadow">
            <div class="card-body">
                <div class="row">
                    @if (Model == null)
                    {
                        <div class="col-md-6">
                            <div class="p-5">
                                <div class="alert alert-danger">
                                    <h5>
                                        <i class="fa-solid fa-triangle-exclamation"></i>
                                        Şifre belirleme işlemi başarısız oldu.
                                    </h5>
                                </div>
                                <a class="btn btn-outline-secondary" href="/">
                                    <i class="fa-solid fa-house"></i> Anasayfa
                                </a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-4 offset-md-4 my-5">

                            <div class="card">
                                <div class="card-header py-3 bg-white">
                                    <h4>Şifre Belirleme</h4>
                                </div>
                                <div class="card-body">

                                    <input type="hidden" id="code" value="@code" />

                                    <form id="setPasswordForm">
                                        <div class="alert alert-info">
                                            <h6>
                                                Merhaba <span class="fw-bold">@Model.FullName</span>
                                            </h6>
                                            <small>
                                                Formu doldurarak yeni şifrenizi belirleyebilirsiniz.
                                            </small>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Yeni Şifre</label>
                                            <input class="w-100 form-control"
                                               id="txtNewPassword"
                                               name="txtNewPassword"
                                               type="password"
                                               required data-required-msg="Yeni Şifre giriniz." />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Yeni Şifre Tekrar</label>
                                            <input class="w-100 form-control"
                                               id="txtReNewPassword"
                                               name="txtReNewPassword"
                                               type="password"
                                               required data-required-msg="Yeni Şifre Tekrar giriniz." />
                                        </div>

                                        <div class="mb-3">
                                            <button id="btnSave"
                                                class="btn bg-green text-white w-100"
                                                type="submit">
                                                Kaydet
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts{
    <script src="/js/pages/frontend/account/set-password.js"></script>
}