
@{
    ViewData["Title"] = "Kullanıcı Yetkilendirme";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Anasayfa</a></li>
                <li class="breadcrumb-item"><a href="#">Ayarlar</a></li>
                <li class="breadcrumb-item"><a href="#">Yetkilendirme</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a asp-area="Admin" asp-controller="UserAuthorization" asp-action="Index">Kullanıcı Yetkilendirme</a></li>
            </ol>
        </nav>
    </div>
</div>
<div class="row mb-2">
    <div class="col-6">
        <h5>Kullanıcı Yetkilendirme</h5>
    </div>
    <div class="col-6">       
    </div>
</div>
