<div id="page">
    <template>
        <nav class="breadcrumb" aria-label="breadcrumb">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                <li class="is-active"><a v-bind:href="page.url">{{page.title}}</a></li>
            </ul>
        </nav>
        <div class="card">
            <div class="card-content">
                <div class="columns is-desktop">
                    <div class="column">
                        <h5 class="title is-5">{{page.title}}</h5>
                        <div id="content" class="w-100 has-text-justified" v-html="page.content"></div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>


@section Scripts {
    <script>
        new Vue({
            el: '#page',
            data: {
                page: Object
            },
            created: function () {
                this.url = window.location.pathname;
                this.pageLoad();
            },
            methods: {
                pageLoad: function () {
                    axios.get("/api/Page/GetByUrl?url=" + this.url)
                        .then(res => {
                            this.page = res.data;
                            document.title = res.data.title + " - CMS";
                        })
                        .catch(e => {
                            window.location = "/error/404";
                        });
                }
            }
        });
    </script>
}
