<nz-layout>
  <nz-header class="header-menu">
    <a routerLink="/" class="logo">CMS</a>
    <div class="header-content">
      <div nz-row>
        <div nz-col nzSm="16" nzXs="24">
          <ul nz-menu nzTheme="light" nzMode="horizontal">
            <li nz-menu-item nzSelected>
              <a routerLink="/">Anasayfa</a>
            </li>
            <li nz-menu-item>nav 3</li>
            <li nz-menu-item>
              <a routerLink="/blog">Blog</a>
            </li>
          </ul>
        </div>
        <div nz-col nzSm="8" nzXs="24">
          <div *ngIf="isLoggedIn">
            <a
              nz-dropdown
              [nzDropdownMenu]="menu1"
              style="float: right; color: black"
            >
              <span nz-icon nzType="user"></span>
              {{ user?.fullName }}
              <span nz-icon nzType="down"></span>
            </a>
            <nz-dropdown-menu #menu1="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item *ngIf="user?.userType !== UserType.Member">
                  <a style="color: black" routerLink="/admin">Yönetim Paneli</a>
                </li>
                <li nz-menu-item>
                  <a style="color: black" routerLink="/member/profile">Hesabım</a>
                </li>
                <li nz-menu-item>
                  <a style="color: black" (click)="logout()">Çıkış Yap</a>
                </li>
              </ul>
            </nz-dropdown-menu>
          </div>
          <div *ngIf="!isLoggedIn">
            <a
              nz-dropdown
              [nzDropdownMenu]="menu2"
              style="float: right; color: black"
            >
              <span nz-icon nzType="user"></span>
              Giriş Yap
              <span nz-icon nzType="down"></span>
            </a>
            <nz-dropdown-menu #menu2="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item>
                  <a style="color: black" routerLink="/login">Giriş Yap</a>
                </li>
                <li nz-menu-item>
                  <a style="color: black" routerLink="/register">Üye Ol</a>
                </li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </div>
      </div>
    </div>
  </nz-header>
  <nz-layout>
    <router-outlet></router-outlet>
  </nz-layout>
</nz-layout>
