
@{
    ViewData["Title"] = "Kullanıcı Grubu Yetkilendirme";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Anasayfa</a></li>
                <li class="breadcrumb-item"><a href="#">Ayarlar</a></li>
                <li class="breadcrumb-item"><a href="#">Yetkilendirme</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a asp-area="Admin" asp-controller="UserGroupAuthorization" asp-action="Index">Kullanıcı Grubu Yetkilendirme</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="row" ng-controller="UserGroupAuthorizationController">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header">Kullanıcı Grubu Yetkilendirme</div>
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Kullanıcı Grubu</label>
                            <div dx-select-box="dxSelectUserGroup"></div>

                            @*<select class="form-control" kendo-drop-down-list
                                        k-data-text-field="'name'"
                                        option-label="'Kullanıcı grubu seçiniz'"
                                        k-data-value-field="'id'"
                                        k-data-source="userGroupDataSource">
                                </select>*@
                        </div>
                    </div>
                </div>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="menu-tab" data-toggle="tab" href="#menu" role="tab" aria-controls="menu" aria-selected="true">Menü Yetkileri</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="process-tab" data-toggle="tab" href="#process" role="tab" aria-controls="process" aria-selected="false">İşlem Yetkileri</a>
                    </li>
                </ul>
                <div class="tab-content pt-1" id="myTabContent">
                    <div class="tab-pane fade show active" id="menu" role="tabpanel" aria-labelledby="menu-tab">
                        Menü yetkileri
                        <div class="p-2" id="treeBackend"></div>
                    </div>
                    <div class="tab-pane fade" id="process" role="tabpanel" aria-labelledby="process-tab">
                        işlem yetkileri
                        <div class="p-2" id="treeApi"></div>
                    </div>
                </div>

                <div class="form-group mt-2">
                    <button class="btn btn-primary float-right" type="submit">Kaydet</button>
                    <button class="btn btn-secondary mr-2 float-right">Vazgeç</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        App.controller('UserGroupAuthorizationController', function UserGroupAuthorizationController($scope, $http) {

            $http.get("/api/user-group").then(res => {
                $scope.userGroups = res.data;
            })

            $scope.dxSelectUserGroup = {
                displayExpr: "name",
                valueExpr: "id",
                placeholder: "Kullanıcı grubu seçiniz",
                searchEnabled: true,
                searchMode: "contains",
                bindingOptions: {
                    dataSource: "userGroups",
                    searchExpr: "searchExprOption"
                }
            }

            //var backendDataSource = new kendo.data.HierarchicalDataSource({
            //    transport: {
            //        read: {
            //            url: "/api/AccessRight/backend",
            //            dataType: "json"
            //        }
            //    },
            //    schema: {
            //        model: {
            //            id: "id",
            //            children: "items"
            //        }
            //    }
            //});

            //$scope.userGroupDataSource = {
            //    type: "json",
            //    transport: {
            //        read: {
            //            url: "/api/lookup/user-groups",
            //        }
            //    }
            //};

            //var apiDataSource = new kendo.data.HierarchicalDataSource({
            //    transport: {
            //        read: {
            //            url: "/api/AccessRight/api",
            //            dataType: "json"
            //        }
            //    },
            //    schema: {
            //        model: {
            //            id: "id",
            //            children: "items"
            //        }
            //    }
            //});

            //function checkedNodeIds(nodes, checkedNodes) {
            //    for (var i = 0; i < nodes.length; i++) {
            //        if (nodes[i].checked) {
            //            checkedNodes.push(nodes[i].id);
            //        }

            //        if (nodes[i].hasChildren) {
            //            checkedNodeIds(nodes[i].children.view(), checkedNodes);
            //        }
            //    }
            //}

            //function onCheck() {
            //    var checkedNodes = [],
            //        treeView = $("#treeBackend").data("kendoTreeView"),
            //        message;

            //    checkedNodeIds(treeView.dataSource.view(), checkedNodes);

            //    if (checkedNodes.length > 0) {
            //        message = "IDs of checked nodes: " + checkedNodes.join(",");
            //    } else {
            //        message = "No nodes checked.";
            //    }

            //    $("#result").html(message);
            //}

            //$("#treeBackend").kendoTreeView({
            //    checkboxes: {
            //        checkChildren: true
            //    },
            //    check: onCheck,
            //    dataSource: backendDataSource,
            //    dataTextField: "text"
            //});

            //$("#treeApi").kendoTreeView({
            //    checkboxes: {
            //        checkChildren: true
            //    },
            //    check: onCheck,
            //    dataSource: apiDataSource,
            //    dataTextField: "text"
            //});

        })
    </script>
}
