<div class="card p-5 mb-3" id="loading">
    <div class="card-body">
        <div class="text-center" id="loader">
            <div class="spinner-border"
                 style="width: 2rem; height: 2rem;" role="status">
            </div>
            <h6>Yükleniyor...</h6>
        </div>
    </div>
</div>