@using CMS.Storage.Enum
@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CMS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/23.1.4/css/dx.material.blue.light.css" />
    <link rel="stylesheet" href="~/css/slick.css" />
    <link rel="stylesheet" href="~/css/slick-theme.css" />
    <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
    <script src="~/js/lib/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/lib/font-awesome.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-sanitize.min.js">
    </script>
    <script src="https://unpkg.com/devextreme-quill@1.6.2/dist/dx-quill.min.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/23.1.4/js/dx.all.js"></script>
    <script src="https://unpkg.com/devextreme-aspnet-data@2.9.2/js/dx.aspnet.data.js"></script>
    <script src="~/js/lib/slick.min.js"></script>
    <script src="~/js/pages/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body class="dx-viewport" ng-app="app">
    <header id="header" class="fixed-top shadow" ng-controller="HeaderController">
        <div class="container d-flex align-items-center">
            <h1 class="logo me-auto"><a href="/"><span>Company</span></a></h1>
            <nav id="navbar" class="navbar order-last order-lg-0">
                <div ng-cloak dx-menu="menuOptions" dx-item-alias="row" class="me-3 d-none d-sm-block">
                    <div data-options="dxTemplate:{ name:'itemTemplate' }">
                        <a href="{{row.url}}" class="ms-2 text-dark" ng-bind="row.title">
                        </a>
                    </div>
                </div>
                <a id="drawerMenu" class="btn btn-outline-secondary btn-sm mobile-nav ms-2 text-dark"
                   data-bs-toggle="offcanvas"
                   style="padding: 0.375rem 0.8rem !important;"
                   href="#offcanvasLeftMenu" role="button" aria-controls="offcanvasLeftMenu">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeftMenu"
                     aria-labelledby="offcanvasLeftMenuLabel">
                    <div class="offcanvas-header border-bottom">
                        <h5 class="offcanvas-title" id="offcanvasLeftMenuLabel">Menü</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div ng-cloak dx-tree-view="treeMenuOptions" dx-item-alias="row">
                            <div data-options="dxTemplate:{ name:'itemTemplate' }">
                                <a href="{{row.url}}" class="ms-2 text-dark">{{row.title}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <input id="userName" type="hidden"
                   value="@this.User.Claims.FirstOrDefault(x => x.Type=="FullName")?.Value" />

            <select ng-cloak ng-change="selectLanguage()"
                    ng-options="language as language.name for language in languages"
                    ng-model="item" class="form-select me-1 border-dark"
                    style="width: 70px !important;">
            </select>

            <div class="d-flex">
                @if (this.User.Identity != null && this.User.Identity.IsAuthenticated)
                {
                    <div class="btn-group">
                        <button class="btn bg-green text-white btn-sm dropdown-toggle"
                                style="padding: .375rem !important;"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <i class="fa fa-user"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            @{
                                var _userType = this.User.Claims
                                .FirstOrDefault(x => x.Type == "UserType");

                                if (_userType != null)
                                {
                                    Int32.TryParse(_userType.Value, out int userType);
                                    if (userType != (int)UserType.Member)
                                    {
                                        <li>
                                            <a class="dropdown-item text-dark" href="/Admin/Dashboard">
                                                Yönetim Paneli
                                            </a>
                                        </li>
                                    }
                                }
                            }
                            <li>
                                <a class="dropdown-item text-dark" href="/profile">
                                    Kullanıcı Bilgileri
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item text-dark" href="/comments">
                                    Yorumlarım
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item text-dark" href="/change-password">
                                    Şifre Değiştir
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item text-dark" href="/logout">
                                    Çıkış Yap
                                </a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="btn-group">
                        <button class="btn bg-green text-white btn-sm dropdown-toggle"
                                style="padding: .375rem !important;"
                                type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-user"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item text-dark" href="/login">
                                    Giriş Yap
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item text-dark" href="/register">
                                    Üye Ol
                                </a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>

    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 footer-contact">
                        <h3>Company</h3>
                        <p>
                            A108 Adam Street <br>
                            New York, NY 535022<br>
                            United States <br><br>
                            <span class="fw-bold">Telefon:</span> +1 5589 55488 55<br>
                            <span class="fw-bold">Email:</span> info@example.com<br>
                        </p>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-links">
                        <h4>Faydalı Linkler</h4>
                        <ul>
                            <li>
                                <i class="fa fa-chevron-right me-2"></i>
                                <a href="/">Anasayfa</a>
                            </li>
                            <li>
                                <i class="fa fa-chevron-right me-2"></i>
                                <a href="/page/about">Hakkımızda</a>
                            </li>
                            <li>
                                <i class="fa fa-chevron-right me-2"></i>
                                <a href="/page/vision-mission">Vizyon-Misyon</a>
                            </li>
                            <li>
                                <i class="fa fa-chevron-right me-2"></i>
                                <a href="/service">Hizmetler</a>
                            </li>
                            <li>
                                <i class="fa fa-chevron-right me-2"></i>
                                <a href="/contact">İletişim</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Bülten'e Kaydol</h4>
                        <p>Yeni gelişmelerden haberdar olmak için bültene kaydolabilirsiniz.</p>
                        <form id="formNewsletter">
                            <input type="email"
                                   name="txtEmailAddress"
                                   id="txtEmailAddress"
                                   required data-required-msg="Email adresi giriniz."
                                   data-email-msg="Email formatı geçersiz." />
                            <input id="btnNewsletter" type="submit" value="Kaydol" />
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>Company</span></strong>. Her hakkı saklıdır.
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="google-plus"><i class="fa-brands fa-skype"></i></a>
                <a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="fa-solid fa-arrow-up text-white"></i>
    </a>
</body>
</html>
