@{
    ViewData["Title"] = ViewBag.Id == 0 ? "Blog Ekle" : "Blog Düzenle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="txtId" value="@ViewBag.Id" />

<div class="card shadow mb-5">
    <div class="card-header bg-white pt-3">
        <div class="row">
            <div class="col-10">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-decoration-none text-dark" href="/Admin">Anasayfa</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-decoration-none text-dark" href="/Admin/Blog">Blog</a>
                        </li>
                        <li class="breadcrumb-item"> @ViewData["Title"]</li>
                    </ol>
                </nav>
            </div>
            <div class="col-2">
                <a class="btn btn-outline-primary btn-sm float-end shadow" href="/Admin/Blog">
                    <i class="fa-solid fa-arrow-left me-1"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 py-3">
                <form enctype="multipart/form-data">
                    <div class="mb-4">
                        <label class="form-label">Başlık</label>
                        <input id="txtTitle" type="text" />
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Url</label>
                        <input id="txtUrl" type="text" disabled />
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Blog Kategorileri</label>
                        <select id="cmbBlogCategories"></select>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Kısa Açıklama</label>
                        <textarea id="txtDescription"></textarea>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Açıklama</label>
                        <textarea id="editor" class="form-control" name="editor"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-4">
                                <label class="form-label w-100">Sırası</label>
                                <input id="txtDisplayOder" style="width: 100px !important;" />

                            </div>
                            <div class="mb-4">
                                <label class="w-100">Yayında</label>
                                <input id="chkPublished" />

                            </div>
                            <div class="mb-4">
                                <label class="w-100">Aktif</label>
                                <input id="chkIsActive" />
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="mb-3">
                                @if (ViewBag.Id != 0)
                                {
                                    <img id="imgUrl" width="200" height="200" />
                                }
                            </div>
                            <div class="mb-3">
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="fileImage">Dosya Ekle</label>
                                    <input type="file" class="form-control" id="fileImage" name="fileImage">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-footer bg-white py-3">
        <button type="submit" class="btn btn-primary" id="btnSave">Kaydet</button>
    </div>
</div>

@section Styles {
    <link href="~/css/summernote-lite.min.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/js/lib/summernote-lite.min.js"></script>
    <script src="~/js/lib/summernote-tr-TR.min.js"></script>
    <script src="~/js/pages/admin/blog/create-update.js"></script>
}