@{
    ViewData["Title"] = "Blog";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-3">
    <div class="card-header bg-white pt-3">
        <div class="row">
            <div class="col-9">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-decoration-none text-dark" href="/Admin">Anasayfa</a>
                        </li>
                        <li class="breadcrumb-item">Blog</li>
                    </ol>
                </nav>
            </div>
            <div class="col-3">
                <a class="btn btn-outline-primary btn-sm shadow float-end" href="/Admin/Blog/Add">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
    </div>
</div>

@section Scripts {
    <script>

    </script>
}