<nz-card style="width: 100%; margin-bottom: 10px">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <span class="pr-10" nz-icon nzType="home"></span>
      <a routerLink="/">Anasayfa</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <span class="pr-10" nz-icon nzType="book" nzTheme="outline"></span>
      <a routerLink="/blog">Blog</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      {{ blog?.title }}
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-card>

<div nz-row>
  <div nz-col nzSm="16" nzXs="24">
    <nz-card style="width: 100%; margin-bottom: 25px" [nzCover]="coverTemplate">
      <h2 class="divider">{{ blog?.title }}</h2>
      <div style="margin-bottom: 20px">
        <span nz-icon nzType="user" nzTheme="outline"></span>
        {{ blog?.userName }}
        <span
          nz-icon
          nzType="clock-circle"
          nzTheme="outline"
          style="margin-left: 15px"
        ></span>
        {{ blog?.insertedDate | date: "dd.MM.yyyy" }}
        <span
          nz-icon
          nzType="comment"
          nzTheme="outline"
          style="margin-left: 15px"
        ></span>
        {{ blog?.commentCount }}
        <span
          nz-icon
          nzType="eye"
          nzTheme="outline"
          style="margin-left: 15px"
        ></span>
        {{ blog?.numberOfView }}
      </div>

      <ng-template #coverTemplate>
        <img height="300" src="{{ blog?.imageUrl }}" />
      </ng-template>
      <div [innerHTML]="blog?.content"></div>

      <div>
        <h3>
          <span
            nz-icon
            nzType="folder"
            nzTheme="outline"            
          ></span>
          Kategoriler:
          <span
            style="font-weight: normal"
            *ngFor="let item of blog?.blogCategories"
          >
            <a
              routerLink="/blog/{{ item.url }}"
              style="margin: 0 5px; color: black"
            >
              {{ item.name }}
            </a>
          </span>
        </h3>
      </div>
    </nz-card>

    <nz-card style="width: 100%; margin-bottom: 25px">
      <h2 class="divider">Yorumlar ({{ blog?.commentCount }})</h2>
      
      <div *ngFor="let item of comments">
        <ng-template #commentTemplateRef let-comment="comment">
          <nz-comment
            [nzAuthor]="comment?.userFullName"
            nzDatetime="{{ comment?.insertedDate | date: 'dd.MM.yyyy HH:mm' }}"
          >
            <nz-avatar nz-comment-avatar nzIcon="user"></nz-avatar>
            <nz-comment-content>
              <p>{{ comment?.description }}</p>
            </nz-comment-content>
            <nz-comment-action
              ><a
                style="color: black; text-decoration: underline"
                (click)="reply(comment)"
                >Cevapla</a
              >
            </nz-comment-action>
            <ng-container *ngIf="comment.items && comment.items.length">
              <ng-template ngFor let-child [ngForOf]="comment?.items">
                <ng-template
                  [ngTemplateOutlet]="commentTemplateRef"
                  [ngTemplateOutletContext]="{ comment: child }"
                ></ng-template>
              </ng-template>
            </ng-container>
          </nz-comment>
        </ng-template>

        <ng-template
          [ngTemplateOutlet]="commentTemplateRef"
          [ngTemplateOutletContext]="{ comment: item }"
        ></ng-template>
      </div>
    </nz-card>
  </div>
  <div nz-col nzSm="8" nzXs="24">
    <nz-card style="margin-left: 15px">
      <h2 class="divider">Çok Okunanlar</h2>      
      <nz-list nzItemLayout="horizontal">
        <nz-list-item *ngFor="let item of mostReadList">
          <nz-list-item-meta>
            <nz-list-item-meta-title>
              <img style="width: 80px; float: left" src="{{ item.imageUrl }}" />
              <a
                style="padding-left: 15px"
                routerLink="/blog/{{ item.url }}/{{ item.id }}"
                >{{ item.title }}</a
              >
              <div
                style="
                  font-size: 12px;
                  font-weight: normal;
                  color: gray;
                  font-style: italic;
                  padding-top: 5px;
                "
              >
                <span
                  nz-icon
                  nzType="clock-circle"
                  nzTheme="outline"
                  style="margin-left: 15px"
                ></span>
                {{ blog?.insertedDate | date: "dd.MM.yyyy" }}
              </div>
            </nz-list-item-meta-title>
          </nz-list-item-meta>
        </nz-list-item>
        <nz-list-empty *ngIf="mostReadList.length === 0"></nz-list-empty>
      </nz-list>
    </nz-card>
  </div>
</div>

<nz-modal
  [(nzVisible)]="visibleReplyModal"
  nzTitle="Yorumu Cevapla"
  nzOkText="Kaydet"
  nzCancelText="Kapat"
  (nzOnCancel)="visibleReplyModal = false"
  (nzOnOk)="saveReply()"
>
  <ng-container *nzModalContent>
    <nz-comment
      [nzAuthor]="replyComment?.userFullName"
      nzDatetime="{{ replyComment?.insertedDate | date: 'dd.MM.yyyy HH:mm' }}"
    >
      <nz-avatar nz-comment-avatar nzIcon="user"></nz-avatar>
      <nz-comment-content>
        <p>
          {{ replyComment?.description }}
        </p>
      </nz-comment-content>
    </nz-comment>

    <form nz-form [formGroup]="replyCommentForm" nzLayout="vertical">
      <nz-form-item>
        <nz-form-control nzErrorTip="Cevap giriniz!">
          <nz-textarea-count [nzMaxCharacterCount]="500">
            <textarea
              placeholder="Cevabınız"
              rows="4"
              formControlName="comment"
              nz-input
            ></textarea>
          </nz-textarea-count>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
